<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  />
  <title>Сетка</title>
</head>
<body>
<div class="dart_container">
  <div class="dart-row">
    <div class="d-col-12 d-col-md-20 d-col-xxl-6 block"></div>
    <div class="d-col-12 d-col-md-4 d-col-xxl-18 block"></div>

    <div class="d-col-6 block"></div>
    <div class="d-col-6 block"></div>
    <div class="d-col-6 block"></div>
    <div class="d-col-6 block"></div>

    <div class="d-col-4 block"></div>
    <div class="d-col-4 block"></div>
    <div class="d-col-4 block"></div>
    <div class="d-col-4 block"></div>
    <div class="d-col-4 block"></div>
    <div class="d-col-4 block"></div>

    <!-- <div class="d-col-3 block"></div>
    <div class="d-col-3 block"></div>
    <div class="d-col-3 block"></div>
    <div class="d-col-3 block"></div>
    <div class="d-col-3 block"></div>
    <div class="d-col-3 block"></div>
    <div class="d-col-3 block"></div>
    <div class="d-col-3 block"></div>

<div class="d-col-2 block"></div>
<div class="d-col-2 block"></div>
<div class="d-col-2 block"></div>
<div class="d-col-2 block"></div>
<div class="d-col-2 block"></div>
<div class="d-col-2 block"></div>
<div class="d-col-2 block"></div>
<div class="d-col-2 block"></div>
<div class="d-col-2 block"></div>
<div class="d-col-2 block"></div>
<div class="d-col-2 block"></div>
<div class="d-col-2 block"></div> -->
  </div>
</div>

<script
  type="module"
  src="../src/main.js"
></script>
</body>
</html>
