<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>UI Kit</title>
		<link href="https://dev.iconly.io/public/NrjD5MCn0Lux/iconly.css" rel="stylesheet" />
	</head>
	<body class="body">
		<button class="d-button d-button-primary">Войти</button>
		<button class="d-button d-button-secondary">Зарегистрироваться</button>
		<button class="d-button d-button-secondary">
			<i class="d-icon-plus"></i>
			Добавить адрес доставки
		</button>
		<button class="d-button d-button-link">Забыли пароль?</button>

		<div class="d-input">
			<input type="text" placeholder="Введите логин" class="d-input__field" />
		</div>

		<button type="button" class="d-button d-button-primary d-button-rounded">
			<i class="d-icon-messages d-button-rounded__icon"></i>
		</button>

		<button type="button" class="d-close">
			<i class="d-icon-times d-close__icon"></i>
		</button>

		<button type="button" class="d-show">
			<i class="d-icon-eye d-show__icon"></i>
		</button>

		<button type="button" class="d-show-alt">
			<i class="d-icon-eye d-show-alt__icon"></i>
		</button>

		<button type="button" class="d-button d-button-primary d-button-primary-small">Выбрать</button>
		<button type="button" class="d-button d-button-primary d-button-primary-small">Найти</button>
		<button type="button" class="d-button d-button-secondary d-button-secondary-small">Отмена</button>
		<button type="button" class="d-button d-button-primary d-button-primary-small">Обновить</button>

		<!-- <div class="d-notion">
  <div class="d-notion__left">
    <i class="d-error"></i>

    <span class="d-notion__category-name">Ошибка</span>
    <p class="d-notion__title">
      Отутствие подключение к интернету. Проверьте подключение к интернету и
      перезагрузите страницу.
    </p>
  </div>
  <div class="d-notion__right">
    <button type="button" class="d-button-sm d-notion__button">Обновить</button>
    <button type="button" class="d-close">
      <i class="d-icon-times d-close__icon"></i>
    </button>
  </div>
</div> -->

		<button type="button" class="d-window-button">
			<i class="d-icon-window d-window-button__icon"></i>
		</button>

		<button type="button" class="d-location">
			<i class="d-icon-location d-location__icon"></i>
		</button>

		<button type="button" class="d-back">
			<i class="d-icon-arrow d-back__icon"></i>
			<span class="d-back__text">Назад</span>
		</button>

		<a href="/">
			<picture>
				<source media="(max-width: 1920px)" srcset="./src/assets/icons/logo-1920.svg" />
				<source media="(max-width: 800px)" srcset="./src/assets/icons/logo-800.svg" />
				<source media="(max-width: 640px)" srcset="./src/assets/icons/logo-640.svg" />
				<source media="(max-width: 400px)" srcset="./src/assets/icons/logo-400.svg" />
				<source media="(max-width: 320px)" srcset="./src/assets/icons/logo-320.svg" />
				<img src="./src/assets/icons/logo-1920.svg" loading="lazy" />
			</picture>
		</a>

		<form class="d-search">
			<i class="d-icon-search d-search__icon"></i>
			<input type="text" class="d-search__field" />
			<button type="button" class="d-button d-button-primary d-button-primary-small d-search__button box-shadow-none">Найти</button>

			<ul class="d-search__suggestions">
				<!-- <li class="d-search__suggestion">
      Россия, Москва, Большой Предтеченский переулок, 13с4
    </li>
    <li class="d-search__suggestion">
      Россия, Москва, Большой Предтеченский переулок, 13с4
    </li>
    <li class="d-search__suggestion">
      Россия, Москва, Большой Предтеченский переулок, 13с4
    </li> -->
			</ul>
		</form>

		<span class="d-indicator"></span>

		<label class="d-switch" for="test-switch">
			<input type="checkbox" name="test-switch" id="test-switch" class="d-switch__input" />
			<div class="d-switch__circle"></div>
		</label>

		<label class="d-switch-button" for="enable-promotion">
			<div class="d-switch">
				<input type="checkbox" name="enable-promotion" id="enable-promotion" class="d-switch__input" />
				<div class="d-switch__circle"></div>
			</div>
			<span class="d-switch-button__text">Включить акцию</span>
		</label>

		<div class="test-wrapper">
			<div class="d-tab__wrapper promotions__card-collection-tabs">
				<svg width="0" height="0" xmlns="http://www.w3.org/2000/svg">
					<clipPath id="tab-clip-path">
						<path
							d="M1 0.852539V21.0004H5H10C6.85108 19.9505 5.39759 18 4 16C3.6506 15.5 2.95906 13.9504 3 13.5C3.05931 12.8476 3.01459 13.7033 3.15389 12C3.23568 11 3.1983 10.5046 2.96518 8.5C2.5 4.5 1.36169 1.68259 1 0.852539Z"
						/>
					</clipPath>
				</svg>

				<div class="d-tab__container">
					<!-- NOTE: Порядок табов обратный -->
					<button class="d-tab d-tab--more">
						<div class="d-tab__more-content">+8 акций</div>
						<div class="d-tab__crutch"></div>
					</button>
					<button class="d-tab">
						Оснастка Интерскол (34332)
						<div class="d-tab__crutch"></div>
					</button>
					<button class="d-tab">
						Оснастка Интерскол (34332)
						<div class="d-tab__crutch"></div>
					</button>
					<button class="d-tab">
						Оснастка Интерскол (34332)
						<div class="d-tab__crutch"></div>
					</button>
					<button class="d-tab">
						Оснастка Интерскол (34332)
						<div class="d-tab__crutch"></div>
					</button>
					<button class="d-tab d-tab--active">
						Оснастка Интерскол (34332)
						<div class="d-tab__crutch"></div>
					</button>
				</div>
			</div>
		</div>

		<div class="test-wrapper">
			<table class="d-table d-table--small d-table--full d-table--head-col-divider test-page__table">
				<thead class="d-table__head test-page__table-head">
					<tr class="d-table__row test-page__table-row">
						<th class="d-table__head-col test-page__table-hcol"></th>
						<th class="d-table__head-col test-page__table-hcol"></th>
						<th class="d-table__head-col test-page__table-hcol"></th>
						<th class="d-table__head-col test-page__table-hcol"></th>
					</tr>
				</thead>
				<tbody class="d-table__body test-page__table-body">
					<tr class="d-table__row test-page__table-row">
						<td class="d-table__col test-page__table-col"></td>
						<td class="d-table__col test-page__table-col"></td>
						<td class="d-table__col test-page__table-col"></td>
						<td class="d-table__col test-page__table-col"></td>
					</tr>
					<tr class="d-table__row test-page__table-row">
						<td class="d-table__col test-page__table-col"></td>
						<td class="d-table__col test-page__table-col"></td>
						<td class="d-table__col test-page__table-col"></td>
						<td class="d-table__col test-page__table-col"></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="test-wrapper">
			<div class="d-radio__container test-radio__container">
				<div class="d-radio__wrapper test-radio__wrapper">
					<label for="test-radio1" class="d-radio test-radio">
						<input type="radio" name="test-radios" id="test-radio1" class="d-radio__input test-radio__input" />
					</label>

					<label for="test-radio1" class="d-radio__label test-radio__label">Задать вручную </label>
				</div>
				<div class="d-radio__wrapper">
					<label for="test-radio2" class="d-radio">
						<input type="radio" name="test-radios" id="test-radio2" class="d-radio__input" />
					</label>
					<label for="test-radio2" class="d-radio__label">Тип цен </label>
				</div>
			</div>
		</div>

		<div class="d-counter" data-counter>
			<button class="d-counter__button" data-counter-button="decrement">
				<i class="d-icon-minus d-counter__button-icon"></i>
			</button>
			<input class="d-counter__input" type="text" name="test-counter" id="test-counter" value="1" data-counter-input />
			<button class="d-counter__button" data-counter-button="increment">
				<i class="d-icon-plus d-counter__button-icon"></i>
			</button>
		</div>

		<div class="d-field-wrapper d-field-wrapper--small d-field-wrapper--vertical">
			<label for="test-dropdown" class="d-dropdown__label">Тип ценообразования </label>
			<div class="d-input d-input--light">
				<input type="text" placeholder="Введите логин" name="login" class="d-input__field" data-input-id="login" />
				<button class="d-input__dropdown-button">
					<i class="d-icon-angle-rounded-bottom d-input__dropdown-button-icon"></i>
				</button>
			</div>
			<label for="test-dropdown" class="d-dropdown__label">РРЦ: 23990 ₽ </label>
		</div>

		<div class="d-field-wrapper d-field-wrapper--small d-field-wrapper--vertical">
			<label for="dateStart" class="d-dropdown__label">Дата начала акции </label>
			<div class="d-input d-input--light">
				<input type="text" placeholder="__ __" name="dateStart" class="d-input__field" />
				<button class="d-icon-wrapper d-input__calendar-button">
					<i class="d-icon-calendar3"></i>
				</button>
			</div>
		</div>

		<div class="d-editor">
			<div class="d-editor__header">
				<div class="d-input d-input--light d-editor__search">
					<input type="text" class="d-input__field d-editor__search-field" placeholder="Placeholder text" />
					<div class="d-editor__text-tools">
						<p class="d-editor__font-size">00</p>
						<div class="d-editor__tool-container">
							<button class="d-editor__tool">
								<i class="d-icon-b d-editor__tool-icon"></i>
							</button>
							<button class="d-editor__tool">
								<i class="d-icon-i d-editor__tool-icon"></i>
							</button>
							<button class="d-editor__tool">
								<i class="d-icon-u d-editor__tool-icon"></i>
							</button>
						</div>

						<div class="d-divider d-divider--vertical d-divider--gray d-divider--big d-divider--semibold d-divider--semi-full"></div>

						<div class="d-editor__tool-container">
							<button class="d-editor__tool">
								<i class="d-icon-marker d-editor__tool-icon"></i>
							</button>
							<button class="d-editor__tool">
								<i class="d-icon-a d-editor__tool-icon"></i>
							</button>
							<button class="d-editor__tool">
								<i class="d-icon-upper-case d-editor__tool-icon"></i>
							</button>
						</div>
					</div>
				</div>

				<div class="d-editor__tools">
					<div class="d-editor__tool-container">
						<button class="d-editor__tool">
							<i class="d-icon-list2 d-editor__tool-icon"></i>
						</button>
						<button class="d-editor__tool">
							<i class="d-icon-number-list d-editor__tool-icon"></i>
						</button>
					</div>
					<div class="d-divider d-divider--vertical d-divider--gray d-divider--big d-divider--semibold d-divider--semi-full"></div>
					<div class="d-editor__tool-container">
						<button class="d-editor__tool">
							<i class="d-icon-link d-editor__tool-icon"></i>
						</button>
						<button class="d-editor__tool">
							<i class="d-icon-calendar2 d-editor__tool-icon"></i>
						</button>
						<button class="d-editor__tool">
							<i class="d-icon-quote d-editor__tool-icon"></i>
						</button>
						<button class="d-editor__tool">
							<i class="d-icon-grid d-editor__tool-icon"></i>
						</button>
					</div>
				</div>
			</div>
			<textarea
				class="d-editor__field"
				rows="5"
				placeholder="Например: “Известный европейский бренд 25 лет в России! Высокая маржинальность до 45%! Широкий ассортимент для любого сегмента рынка. Цены крупного опта при любом заказе! 100% контроль цен. Возврат денег за непроданный товар. Широкая рекламная поддержка.”"
			></textarea>
		</div>

		<button class="d-button d-button--sm-shadow d-button-quaternary">
			Прогноз остатков
			<i class="d-icon-mixer"></i>
		</button>

		<button class="d-button d-button--sm-shadow d-button-quaternary d-button-quaternary-small">
			Прогноз остатков
			<i class="d-icon-mixer"></i>
		</button>

		<button class="d-button d-button--sm-shadow d-button-tertiary">Применить</button>

		<!-- Модалка -->
		<div class="d-modal2__overlay test-modal__overlay">
			<div class="d-modal2__wrapper test-modal__wrapper">
				<div class="d-modal2 test__modal" data-modal2="testModal">
					<button class="d-modal2__close test-modal__close" data-modal2-close>
						<i class="d-icon-times d-modal2__close-icon"></i>
					</button>
					<div class="d-modal2__header test-modal__header">
						<p class="d-modal2__title test__title">Удаление отгрузки</p>
						<p class="d-modal2__description test__text">
							К данной отгрузке - привязан заказ с маркетплейса. Ваша заявка на удаление отгрузки - отправлена. Скоро с вами свяжется менеджер для уточнения деталей.
						</p>
					</div>
					<div class="d-modal2__content test-modal__content">
						<div class="d-modal2__actions test__actions">
							<button class="d-button d-button-secondary d-button-secondary-small box-shadow-none d-modal2__action-button test__actions-button test__actions-button--cancel">
								<span>Отмена</span>
							</button>

							<button class="d-button d-button-primary d-button-primary-small box-shadow-none d-modal2__action-button test__actions-button test__actions-button--ok">
								<span>Ок</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="d-field-wrapper d-field-wrapper--vertical test-page__input-wrapper">
			<label for="date" class="d-dropdown__label test-page__input-label">Выберите диапазон дат </label>
			<div class="d-input d-input--light test-page__input">
				<input type="text" placeholder="Найдите или выберите менеджера из списка" name="date" class="d-input__field test-page__input-field" />
				<div class="d-input__actions">
					<button class="d-icon-wrapper test-page__input-button">
						<i class="d-icon-search-big"></i>
					</button>
					<div class="d-divider d-divider--vertical d-input__actions-divider"></div>
					<button class="d-icon-wrapper test-page__input-button">
						<i class="d-icon-angle-rounded-bottom-bold"></i>
					</button>
				</div>
			</div>
		</div>

		<div class="test-wrapper">
			<div class="d-badge">Главная страница</div>
			<div class="d-badge d-badge--delivery">В пути</div>
			<div class="d-badge2 product-card__promo-badge">4</div>
		</div>

		<script type="module" src="../src/main.js"></script>
	</body>
</html>
