.ppromotions {
    padding-block: 20px;

    &__header {
        margin-bottom: 32px;

        &-title {
            font-size: 32px;
            font-weight: 600;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 40px;

        &-input {
            width: 428px;

            &--dropdown {
                width: 400px;
            }

            &-container {
                display: flex;
                align-items: center;
                gap: 32px;
            }
        }

        &-radio {
            &-wrapper {
                width: fit-content;
            }
        }

        &-button {
            gap: 8px;
            padding: 8px 24px;
            width: fit-content;

            &-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                width: 24px;
                height: 24px;
            }
        }
    }

    &__table {
        --d-table-first-col-padding: 16px;

        &-hcol {
            &:nth-child(1) {
                width: 90px;
            }

            &:nth-child(2) {
                width: 190px;
            }

            &:nth-child(3) {
                width: 360px;
            }

            &:nth-child(4),
            &:nth-child(5) {
                width: 105px;
            }

            &:nth-child(7) {
                width: 85px;
            }

            &:nth-child(9) {
                width: 200px;
            }

            &:nth-child(10) {
                width: 140px;

                &::before {
                    display: none;
                }
            }
        }

        &-col {
            text-align: center;
        }

        &-org {
            display: flex;
            align-items: center;
            gap: 8px;

            &-image {
                aspect-ratio: 1;
                width: 20px;
                height: 20px;
            }
        }
    }
}