.change-organization {
	&__modal {
		width: 1132px;
		height: 800px;

        &-content {
            margin-top: 32px;
        }
	}

	&__item {
		--change-organization-item-image-size: 32px;
		--change-organization-item-title: 24px;
		--change-organization-item-data-text-size: 16px;

		& {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}

        &:not(:last-child) {
            border-bottom: 0.5px solid #757575;
            padding-bottom: 16px;
        }

		&--big {
			--change-organization-item-image-size: 48px;
			--change-organization-item-title: 32px;
			--change-organization-item-data-text-size: 20px;

            & {
                border-bottom: 1px solid #757575;
                padding-bottom: 16px;
            }
		}

        &-list {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

		&-header {
			display: flex;
			align-items: center;
		}

		&-image {
			object-fit: cover;
			width: 100%;
			height: 100%;

			&-container {
				border-radius: 50%;
				overflow: hidden;
				aspect-ratio: 1;
                margin-right: 16px;
				width: var(--change-organization-item-image-size);
				height: var(--change-organization-item-image-size);
			}

            &-fallback {
                background-color: #757575;
                width: 100%;
                height: 100%;
            }
		}

		&-title {
			font-size: var(--change-organization-item-title);
			font-weight: 600;
		}

		&-active {
			font-size: 14px;
			font-weight: 500;
			padding: 4px 12px;
			height: 30px;

			&-container {
				display: flex;
				align-items: center;
			}

			&-divider {
				--d-divider-length: 15px;
			}
		}

		&-content {
			display: flex;
			flex-direction: column;
		}

		&-data {
			display: flex;
			align-items: center;
			gap: 8px;
			color: #757575;

			&-icon {
				font-size: 20px;
			}

			&-text {
				font-size: var(--change-organization-item-data-text-size);
				font-weight: 400;
			}
		}
	}
}
