.help {
	display: flex;
	gap: 32px;

	height: 100%;
	width: 100%;

	&__sheet {
		width: 996px;
		padding-left: 32px;
	}

	&__left {
		display: flex;
		flex-direction: column;
		flex-shrink: 0;

		background-color: #ffffff8c;
		box-shadow: 0px 4px 13.4px -5px #00000042;
		border-radius: 8px;

		padding: 16px;
		width: 400px;
		height: 100%;
	}

	&__title {
		color: #757575;
		font-size: 16px;
		font-weight: 600;

		&-container {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 8px;
		}
	}

	&__logo {
		object-fit: contain;
		aspect-ratio: 1;
		width: 24px;
		height: 24px;
	}

	&__divider {
		--d-divider-margin: 16px 32px;
	}

	&__tab {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;

		background-color: transparent;
		border: 0.5px solid #282828;
		border-radius: 24px;

		transition-duration: 0.2s;
        opacity: 0.4;

		padding: 8px 12px;
		width: fit-content;
		height: 38px;

		&:hover,
		&--active {
			background-color: #282828;
			color: #fbfbfb;
            opacity: 1;
		}

		&-list {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}

		&-icon {
			font-size: 16px;
		}

		&-title {
			font-size: 14px;
			font-weight: 500;
		}
	}

	&__right {
		display: flex;
		flex-direction: column;
		flex-grow: 1;

		height: 100%;

		&-title {
			font-size: 20px;
			font-weight: 600;

			&-container {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 8px;

				margin-bottom: 24px;
				width: 100%;
			}
		}

		&__close-button {
			font-size: 13px;

			aspect-ratio: 1;
			width: 20px;
			height: 20px;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 8px;

		&-item {
			display: flex;
			align-items: center;

			font-size: 16px;
			font-weight: 400;

			&::before {
				content: "";

				display: block;

				background-color: #282828;
				border-radius: 50%;

				margin-inline: 8px;
				aspect-ratio: 1;
				width: 4px;
				height: 4px;
			}
		}
	}

	&__block {
		display: flex;
		flex-direction: column;

		&-container {
			display: flex;
			flex-direction: column;
			gap: 32px;
		}

		&-image {
			object-fit: cover;
			width: 100%;
			height: 100%;

			&-container {
				border-radius: 6px;
				overflow: hidden;
				margin-top: 24px;
				width: 100%;
				max-height: 200px;
			}
		}
	}

	&__subtitle {
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 8px;
	}

	&__text {
		color: #757575;
		font-size: 14px;
		font-weight: 400;
		padding-right: 20px;

		&--bold {
			font-weight: 700;
		}
	}

	@media (width <= 1920px) {
		gap: 24px;

		&__sheet {
			padding: 24px;
			width: 880px;
		}

		&__left {
			padding: 8px 18px;
			width: 362px;
		}

		&__divider {
			--d-divider-margin: 8px 24px;
		}

		&__tab {
			height: 30px;

			&-list {
				gap: 16px;
			}

			&-icon {
				font-size: 14px;
			}
		}

		&__right {
			&-title {
				font-size: 16px;
				font-weight: 600;
			}
		}

		&__close-button {
			display: none;
		}

		&__block {
			&-container {
				gap: 24px;
			}

			&-image {
				&-container {
					max-height: 136px;
				}
			}
		}

		&__subtitle {
			font-size: 14px;
		}

		&__text {
			font-size: 12px;

			&--bold {
				font-weight: 600;
			}
		}

		&__list {
			&-item {
				font-size: 14px;
			}
		}
	}

	@media (width <= 1536px) {
		gap: 12px;

		&__sheet {
			padding: 8px 2px;
			width: 686px;
		}

		&__logo {
			width: 20px;
			height: 20px;
		}

		&__title {
			font-size: 14px;
		}

		&__left {
			border-radius: 10px;
			padding: 8px;
			width: 282px;
		}

		&__tab {
            font-size: 12px;

            &:hover,
            &--active {
                font-size: 14px;
            }

			&-list {
				gap: 8px;
			}

			&-title {
				font-size: inherit;
			}
		}

		&__right {
			margin-top: 8px;

			&-title {
				font-size: 14px;
			}
		}

		&__close-button {
			font-size: 14px;
		}

		&__subtitle {
			font-size: 12px;
		}

		&__list {
			&-item {
				font-size: 12px;
			}
		}
	}

	@media (width <= 1280px) {
		gap: 16px;

		&__sheet {
			width: 558px;
		}

		&__left {
			width: 246px;
		}

		&__title {
			font-size: 12px;
		}

		&__divider {
			--d-divider-margin: 8px 16px;
		}

		&__tab {
            font-weight: 400;
			padding: 4px 10px;
			height: 24px;

            &:hover,
            &--active {
                font-weight: 600;
            }

			&-title {
				font-size: 10px;
				font-weight: inherit;
			}
		}
	}
}
