.promotions {
	margin-block: 20px 80px;

	&__top {
		display: flex;
		align-items: center;
		gap: 40px;
		margin-bottom: 40px;

		&-back {
			color: #282828;
			height: auto;
		}

		@media (width <= 1200px) {
			justify-content: space-between;
			margin-bottom: 24px;

			&-back {
				gap: 8px;
			}
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
		margin-bottom: 40px;

		&-actions {
			display: flex;
			align-items: center;
		}

		@media (width <= 1200px) {
			margin-bottom: 32px;
		}
	}

	&__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 16px;

		background-color: #ededed;
		border-radius: 70px;

		position: sticky;
		top: 0;
		z-index: 15;
		transition-duration: 0.2s;

		padding: 12px 40px;
		margin-bottom: 48px;
		min-height: 90px;

		&-title-container {
			display: flex;
			flex-direction: column;
			gap: 4px;
		}

		&-title {
			font-size: 24px;
			font-weight: 600;
		}

		&-description {
			font-size: 20px;
			font-weight: 500;
		}

		&-actions {
			display: flex;
			align-items: center;
		}

		&-additional-actions {
			display: none;
		}
		&-primary-actions {
			display: flex;
			align-items: center;
		}

		&--sticky {
			background-color: #282828;
			box-shadow: 0px 4px 13.4px -5px #00000042;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			color: #fbfbfb;

			.promotions__info-edit {
				color: #ededed;

				&:hover {
					background-color: #ededed;
					color: #282828;
				}
			}

			.promotions__info-add {
				display: none;
			}

			.promotions__info-additional-actions {
				display: contents;
			}
			.promotions__info-primary-actions {
				display: none;
			}

			.d-divider {
				background-color: #fbfbfb;
			}
		}

		&:not(&--sticky) {
			.promotions__info-additional {
				display: none;
			}
		}

		@media (width <= 1200px) {
			border-radius: 6px;
			padding: 8px 16px;
			margin-bottom: 32px;
			min-height: 48px;

			&-title-container {
				gap: 2px;
			}

			&-title {
				font-size: 16px;
			}

			&-description {
				font-size: 14px;
				font-weight: 400;
			}

			&--sticky {
				border-radius: 0 0 18px 18px;

				.promotions__info-title {
					font-size: 14px;

					&-container {
						gap: 4px;
					}
				}

				.promotions__info-description {
					font-size: 12px;
				}

				.promotions__info-switch {
					background-color: transparent;
					padding: 0;
					margin-right: 20px;
				}

				.promotions__info-icon-divider {
					margin-inline: 4px;
				}
			}
		}

		@media (width <= 800px) {
			&-title {
				font-size: 14px;
			}
		}
	}

	&__content {
		display: flex;
		gap: 32px;
		flex-direction: column;

		@media (width <= 1200px) {
			&-card-container {
				gap: 24px;
			}
		}
	}

	&__card {
		border-radius: 12px;
		box-shadow: 0px 4px 13.4px 0px #00000042;
		// overflow: hidden;
		height: 100%;
		width: 100%;

		&-container {
			display: flex;
			flex-wrap: wrap;
			gap: 32px;
		}

		&-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 8px;

			background-color: #ededed;
			border-bottom: 0.3px solid #757575;

			padding: 12px 32px;

			&-left {
				display: flex;
				align-items: center;
				gap: 12px;
			}

			&-right {
				display: flex;
				align-items: center;
			}
		}

		&-icon {
			font-size: 20px;
		}

		&-title {
			font-size: 24px;
			font-weight: 600;
		}

		&-button {
			width: 24px;
			height: 24px;

			&-icon {
				font-size: 20px;
			}
		}

		&-content {
			padding: 24px 32px;
		}

		&-values {
			display: flex;
			flex-direction: column;
			gap: 16px;
		}

		&-label {
			color: #757575;
			font-size: 16px;
			margin-bottom: 4px;
		}

		&-text {
			font-size: 16px;
			font-weight: 500;

			&--bold {
				font-weight: 600;
			}

			&--small {
				font-size: 14px;
			}

			&--dark-gray {
				color: #494949;
			}
		}

		&-value {
			font-size: 20px;
			font-weight: 300;

			&-container {
				display: flex;
				flex-direction: column;
			}

			&--bold {
				font-weight: 600;
			}
		}

		&-banner {
			border-radius: 4px;
			position: relative;
			overflow: hidden;
			margin-bottom: 28px;
			width: 100%;
			height: 260px;

			&-message {
				--d-message-padding-inline: 24px;

				position: absolute;
				top: 8px;
				left: 8px;
				z-index: 1;
			}

			&-img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				filter: brightness(80%);
			}
		}

		&-info {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 16px;

			&-text {
				font-size: 20px;
				font-weight: 500;
			}

			&-button {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 24px;
				height: 24px;
			}

			&-icon {
				font-size: 18px;
			}

			&--fit {
				width: fit-content;
			}
		}

		&-block {
			width: 100%;
			max-width: 280px;

			&-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 24px;
			}

			&-wrapper {
				display: flex;
			}

			&-container {
				display: flex;
				flex-direction: column;
				gap: 24px;
				flex-grow: 1;
			}

			&-inner {
				display: flex;
				flex-direction: column;
				gap: 8px;
				flex-grow: 1;
			}

			&-title {
			}

			&-description {
				flex: 1 0 auto;
			}

			&-value {
				margin-bottom: 36px;
			}

			&-divider {
				margin-inline: 12px;
			}

			&-button {
				gap: 8px;
				box-shadow: 0px 4px 13.4px 0px #00000042;
				font-size: 16px;
				font-weight: 500;
				min-height: 40px;
				width: fit-content;

				&-icon {
					font-size: 18px;
				}

				&:hover {
					font-weight: 500;
				}
			}
		}

		&-warehouse {
			display: flex;
			justify-content: space-between;
			gap: 20px;

			&-header {
				width: 460px;

				&-container {
					align-items: center;
					margin-bottom: 40px;
				}
			}

			&-settings {
				display: flex;
				align-items: center;
				gap: 80px;

				&-choose {
					padding-inline: 24px;
				}
			}

			&-divider {
				margin-block: 40px;
			}

			&-search {
				max-width: 600px;
			}
		}

		&-collection {
			&-add {
				&-icon {
					font-size: 14px;
				}
			}

			&-header {
				display: flex;
				align-items: center;
				margin-block: 40px;

				&-divider {
					margin-inline: 16px;
				}
			}

			&-tabs {
				margin-bottom: 40px;
			}

			&-search {
				margin-bottom: 48px;
				width: 528px;
			}
		}

		&-products {
			&-divider {
				margin-block: 40px;
			}
		}

		&-message {
			--d-message-color: #757575;
		}

		&-audience {
			&-divider {
				margin-block: 16px 8px;
			}

			&-label {
				margin-bottom: 16px;
			}
		}

		&--small {
			.promotions__card-header {
				padding: 8px 16px;
			}

			.promotions__card-title {
				font-size: 14px;
				font-weight: 600;

				&-span {
					font-weight: 400;
				}
			}

			.promotions__card-button {
				font-size: 16px;
			}

			.promotions__card-content {
				padding: 16px;
			}
		}

		@media (width > 1200px) {
			&-header-divider,
			&-header-add {
				display: none;
			}
		}

		@media (width <= 1200px) {
			border-radius: 6px;

			&-header {
				padding: 8px 16px;
				min-height: 40px;
			}

			&-icon {
				font-size: 16px;
			}

			&-title {
				font-size: 14px;
				font-weight: 600;
			}

			&-button {
				&-icon {
					font-size: 15px;
				}
			}

			&-container {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				gap: 8px;
			}

			&-content {
				padding: 16px;
			}

			&-label {
				font-size: 12px;

				&--big {
					font-size: 14px;
				}
			}

			&-value {
				font-size: 14px;

				&--bold {
					font-size: 16px;
				}

				&--small {
					font-size: 14px;
				}
			}

			&-banner {
				border-radius: 8px;
				margin-bottom: 0;
				max-width: 45%;
				height: 140px;

				&-container {
					display: flex;
					gap: 16px;
				}

				&-message {
					gap: 8px;
					background-color: #757575;
					color: #fbfbfb;
					position: static;
					padding: 4px 12px;
					margin-bottom: 16px;
					width: fit-content;
					height: 30px;

					&-icon {
						font-size: 12px;
					}

					&-text {
						font-weight: 500;
					}
				}

				&-label {
					margin-bottom: 8px;
				}
			}

			&-delivery-conds-value {
				font-size: 14px;
			}

			&-audience {
				&-divider {
					margin-block: 8px;
				}

				&-label {
					margin-bottom: 12px;
				}

				&-badge {
					padding: 4px 12px;
					height: 24px;

					&-icon {
						font-size: 13px;
					}

					&-fallback {
						width: 17px;
						height: 17px;
					}

					&-img {
						width: 17px;
						height: 17px;
					}
				}
			}

			&-promo-conds {
				&-message {
					--d-message-bg-color: transparent;
					margin-right: 16px;
				}

				&-badges {
					margin-bottom: 20px;
				}
			}

			&-block {
				max-width: none;

				&-container {
					align-items: flex-start;
					gap: 20px;
					margin-bottom: 4px;
				}

				&-wrapper {
					flex-direction: column;

					&--row {
						flex-direction: row;
					}

					&--full {
						width: 100%;
					}
				}

				&-inner {
					align-items: center;
					flex-direction: row;
					gap: 32px;

					&--small {
						align-items: flex-start;
						flex-direction: column;
						gap: 4px;
						width: 100%;
					}
				}

				&-title-container {
					display: flex;
					flex-direction: column;
					gap: 16px;
					width: 40%;
					flex-shrink: 0;
				}

				&-divider {
					margin-inline: 0;
					margin-block: 12px 8px;

					&--vertical {
						margin-inline: 24px;
						margin-block: 0;
					}
				}

				&-label {
					width: 100%;
				}

				&-description {
					flex: 0 0 auto;
					width: 40%;

					&--full {
						flex: auto;
						width: 100%;
					}
				}

				&-value {
					flex-grow: 1;
					text-align: center;
					min-width: max-content;
					margin-bottom: 0;
				}

				&-button {
					align-self: center;
					font-size: 14px;
					min-height: 30px;

					&-icon {
						font-size: 12px;
					}
				}
			}

			&-warehouse {
				&-header {
					gap: 8px;
					width: 268px;

					&-container {
						align-items: flex-end;
						margin-bottom: 32px;
					}
				}

				&-settings {
					gap: 8px;
					flex-direction: column;
				}

				&-divider {
					margin-block: 24px;
				}

				&-search {
					width: fit-content;
					max-width: none;
				}
			}

			&-products {
				&-divider {
					margin-block: 24px;
				}
			}

			&-collection {
				&-tabs {
					margin-bottom: 0;

					&-wrapper {
						margin-block: 24px 32px;
						width: 100%;
					}
				}
			}
		}

		@media (width <= 800px) {
			&-header {
				padding: 1px 16px;
				min-height: 24px;
			}

			&-icon {
				font-size: 14px;
			}

			&-values {
				gap: 8px;

				&--md-horizontal {
					flex-direction: row;
				}

				&--md-long {
					gap: 24px;
				}
			}

			&-value {
				font-size: 12px;

				&--bold {
					font-size: 14px;
				}
			}

			&-container {
				grid-template-columns: 1fr;
				gap: 24px;
			}

			&-info {
				align-items: flex-start;
			}

			&-label {
				&--big {
					font-size: 12px;
				}
			}

			&-block {
				&-title {
					font-weight: 500;
				}

				&-value {
					font-size: 16px;
					font-weight: 500;
				}

				&-divider {
					margin-block: 8px;
				}

				&-button {
					font-size: 12px;
					min-height: 24px;
				}

				&-container {
					gap: 16px;
				}
			}

			&-banner {
				&-message {
					--d-message-text-font-size: 12px;

					height: 24px;

					&-icon {
						font-size: 11px;
					}
				}
			}

			&-warehouse {
				display: flex;
				flex-direction: column;

				&-settings {
					&-all {
						gap: 8px;
					}
				}

				&-divider {
					margin-block: 36px;
				}

				&-header {
					width: 100%;

					&-container {
						flex-direction: column;
						margin-bottom: 40px;
					}
				}

				&-search {
					width: 100%;
				}
			}

			&-collection {
				&-tabs {
					&-wrapper {
						margin-block: 24px 40px;
					}
				}

				&-search {
					display: none;
				}
			}
		}
	}

	&__complects {
		&-header {
			margin-bottom: 40px;

			&-right {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				width: 50%;
			}
		}

		&-search-button {
			box-shadow: 0px 4px 13.4px 0px #00000042;
			padding-inline: 16px;
			margin-right: 16px;
			width: fit-content;
			min-height: 40px;
		}

		@media (width <= 800px) {
			&-header {
				&-right {
					width: 100%;
				}
			}

			&-tabs {
				&-wrapper {
					display: none;
				}
			}
		}
	}
}

.product-table-card {
	&__title,
	&__article {
		margin-bottom: 2px;
	}

	&__title {
		font-size: 14px;
	}

	&__article {
		color: #757575;
		font-size: 12px;
	}

	&__text {
		font-size: 14px;
	}

	&__value {
		width: max-content;
	}

	&__discount {
		margin-bottom: 8px;

		&-button {
			box-shadow: 0px 4px 13.4px 0px #00000042;
			font-size: 16px;
			font-weight: 500;
			gap: 8px;
			padding-inline: 8px;

			&:active {
				font-weight: 500;
			}

			&-icon {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 16px;
				width: 24px;
				height: 24px;
			}

			&--table {
				border: 1px solid #fbfbfb;
				background-color: #282828;
				color: #fbfbfb;

				height: 32px;
				min-height: 32px;

				&:hover {
					border: 1px solid #fbfbfb;
					background-color: #282828;
					color: #fbfbfb;
				}
			}
		}
	}
}

.products__card {
	&-content {
		padding-block: 40px 56px;
	}

	@media (width <= 1200px) {
		&-content {
			padding-block: 24px 12px;
		}
	}
}

// Форма настройки скидок
.promo-settings {
	padding-block: 24px 40px;

	&__type,
	&__values {
		margin-top: 24px;
	}

	&__values {
		display: flex;
		align-items: flex-start;

		&-value {
			width: 100%;
		}
	}

	&__note {
		margin-top: 92px;
	}
}

.product-row {
	display: flex;
	gap: 8px;

	border-top: 0.5px solid #282828;
	border-bottom: 0.5px solid #282828;

	padding: 4px;
	height: 68px;

	&__image {
		width: 54px;
		height: 54px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 2px;
		max-width: 300px;
	}

	&__title {
		font-size: 14;
	}

	&__description {
		color: #757575;
		font-size: 12px;
	}
}

.promo-compatibility {
	margin-block: 20px;

	.d-table__body .d-table__row {
		.promo-compatibility__icon {
			margin-top: 20px;
		}
	}

	&__icon {
		font-size: 13px;
	}

	&__large-text-container {
		display: flex;
		flex-direction: column;
		gap: 36px;
		padding-top: 24px;
	}
}

// Promo modal
.promo-modal {
	--promo-modal-padding-inline: 40px;
	--promo-modal-padding-block: 32px;

	border-radius: 30px 30px 9px 9px;
	padding: 0;
	width: 100%;
	height: 100%;
	min-height: 0;
	max-width: none;
	max-height: none;
	position: relative;

	&__wrapper {
		--d-modal2-height: 85%;

		display: flex;
		justify-content: center;
		align-items: center;

		height: 100%;
		min-height: var(--d-modal2-height);
		max-height: var(--d-modal2-height);
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;

		background-color: #ededed;

		padding: var(--promo-modal-padding-block) var(--promo-modal-padding-inline);

		&-left,
		&-right {
			display: flex;
			align-items: center;
		}

		&-right {
			gap: 32px;
		}

		&-title {
			gap: 4px;
		}

		&-divider {
			width: 1px;
			height: 44px;
			margin-inline: 32px;
		}

		&-button {
			width: fit-content;
		}
	}

	&__progress {
		padding-inline: 12px;

		&-label {
			font-size: 14px;
			font-weight: 400;
			color: #757575;
			margin-bottom: 8px;
		}
	}

	&__close {
		font-size: 16px;
		position: static;
	}
}

.promo-master {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 40px;
	height: 100%;

	&__content {
		display: flex;
		justify-content: space-between;
		gap: 40px;

		padding: var(--promo-modal-padding-block) var(--promo-modal-padding-inline);
		width: 100%;

		&-left,
		&-right {
			display: flex;
			flex-direction: column;
		}

		&-left {
			width: 60%;
		}

		&-right {
			align-items: flex-end;
		}
	}

	&__title {
		font-size: 24px;
		font-weight: 600;
		margin-bottom: 32px;

		&--sm-margin {
			margin-bottom: 24px;
		}

		&--no-margin {
			margin: 0;
		}

		&-container {
			display: flex;
			flex-direction: column;
			gap: 8px;
			margin-bottom: 40px;
		}
	}

	&__subtitle {
		font-size: 20px;
		font-weight: 600;

		&-container {
			display: flex;
			flex-direction: column;
			gap: 4px;
		}

		&--small {
			font-size: 16px;
		}
	}

	&__card {
		height: auto;
	}

	&__settings {
		margin-bottom: 36px;

		&--sm-margin {
			margin-bottom: 24px;
		}
	}

	&__setting {
		width: fit-content;

		&-container {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}

		&--used {
			opacity: 0.3;
		}

		&--disabled {
			&,
			&:disabled {
				background-color: #ffffff8c;
				border-color: #757575;
				color: #757575;
				opacity: 0.3;
			}
		}
	}

	&__footer {
		&-actions {
			display: flex;
			justify-content: space-between;
			padding-inline: var(--promo-modal-padding-inline);
			margin-bottom: 16px;
		}

		&-content {
			display: flex;
			align-items: center;

			background-color: #ededed;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;

			padding: 4px var(--promo-modal-padding-inline);
			height: 112px;

			&--between {
				justify-content: space-between;
			}
		}
	}

	&__action-button {
		background-color: #ffffff8c;
		backdrop-filter: blur(22.8px);
	}

	&__info-block {
		display: flex;
		flex-direction: column;
		gap: 8px;
		padding-inline: 8px;
		// width: 20%;
		max-width: 280px;

		&-wrapper {
			display: flex;
			width: 20%;
		}

		&-icon {
			font-size: 16px;
		}

		&-text {
			font-size: 12px;
		}

		&-divider {
			height: 72px;
		}
	}

	&__description-block {
		display: flex;
		flex-direction: column;
		gap: 4px;
		margin-left: 40px;

		&-title {
			font-size: 12px;
			font-weight: 600;
		}

		&-text {
			font-size: 12px;
		}
	}

	&__upload {
		margin-bottom: 24px;

		&-header {
			margin-bottom: 24px;
			max-width: 500px;
		}
	}

	&__banner {
		background-color: #ffffff;
		border: 5px solid #fff;
		border-radius: 8px;
		position: relative;
		width: 340px;

		&-container {
			display: flex;
			gap: 24px;
			height: 100%;
		}

		&-status {
			display: flex;
			justify-content: center;
			align-items: center;

			background-color: #fbfbfb;
			border-radius: 6px;

			position: absolute;
			top: -5px;
			left: -5px;

			padding: 4px;
			aspect-ratio: 1;
			width: 28px;
			height: 28px;

			&-icon {
				font-size: 12px;
			}
		}

		&-image {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	&__actions {
		margin-bottom: 32px;
	}
}

.deferred-payment {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;
	margin-block: 36px 24px;

	&__modal {
		width: 40%;
		max-width: 40%;
	}
}

.compatibility-modal {
	margin-block: 20px 40px;

	&__promos {
		margin-bottom: 20px;
	}

	&__title {
		font-size: 20px;
		font-weight: 600;

		&-container {
			display: flex;
			flex-direction: column;
			gap: 4px;
			margin-block: 32px 16px;
		}
	}

	&__options {
		margin-bottom: 32px;
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
}
