.need {

    &__modal {
        width: 1132px;
        height: 800px;

        &-content {
            // justify-content: start;
        }
    }

    &__title,
    &__subtitle {
        font-size: 20px;
        font-weight: 600;
    }

    &__title {
        margin-bottom: 16px;
    }

    &__notice {
        justify-content: flex-start;

        border-radius: 10px;

        font-size: 16px;
        font-weight: 400;

        margin-bottom: 24px;
        padding: 16px 20px;
        width: 100%;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
        width: 100%;

        &-button {
            font-size: 14px;
            font-weight: 500;

            padding: 8px;
            width: fit-content;
            height: 40px;
            min-height: 40px;

            &-icon {
                font-size: 14px;
            }
        }
    }

    &__subtitle {

        &-container {
            display: flex;
            align-items: center;
            gap: 16px;
        }

        &-badge {
            --d-badge2-font-size: 14px;
            --d-badge2-size: 30px;
        }
    }

    &__search {
        margin-bottom: 48px;

        &-field {
            font-size: 16px;
            font-weight: 400;
            padding-left: 24px;
        }

        &-button {
            width: 140px;
        }
    }

    &__table {

        .d-table--small &-head-col {
            height: 30px;
        }

        .d-table__row:not(:first-child) &-col {
            &:not(:first-child)::before {
                content: "";
                background-color: #757575;
                position: absolute;
                top: 50%;
                left: 0;
                translate: 0 -50%;
                width: 0.5px;
                height: 20px;
            }
        }

        &-col {
            font-size: 14px;
            font-weight: 400;
            text-align: center;
        }

        &-button {
            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 18px;
            aspect-ratio: 1;
            width: 24px;
            height: 24px;

            &-container {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &-divider {
                --d-divider-length: 15px;
            }
        }
    }
}

.need-create {

    &__modal {
        width: 1040px;
        height: 700px;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__title-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 24px;
    }

    &__description {
        color: #757575;
        font-size: 14px;
        font-weight: 400;
    }

    &__input {
        margin-bottom: 40px;
    }

    &__template {
        color: #FBFBFB;
        font-size: 16px;
        font-weight: 600;

        margin-bottom: 24px;
        padding: 8px 16px;
        height: 40px;
        min-height: 40px;

        &-icon {
            font-size: 24px;
        }
    }

    &__upload {
        padding: 16px;
    }

    &__create {
        align-self: center;

        padding: 8px 12px;
        height: 40px;
        min-height: 40px;
        min-width: 100px;
    }
}

.need-part {
    &__input {
        margin-bottom: 32px;
    }

    &__doc {
        display: flex;
        align-items: center;

        &-icon {
            font-size: 24px;
            margin-right: 16px;
        }

        &-text {
            flex-grow: 1;
            font-size: 16px;
            font-weight: 400;
            margin-right: 16px;
        }

        &-actions {
            display: flex;
            align-items: center;
        }
    }
}

.need-vendor {

    &__modal {
        width: 1040px;
        height: 362px;
    }

    &__notice {
        margin-bottom: 32px;
    }

    &__input {
        margin-bottom: 16px;

        &-container {
            margin-bottom: 16px;
        }
    }

    &__radio {
        &-label {
            color: #282828;
            font-size: 16px;
            font-weight: 500;
        }
    }
}