.need {

    &__modal {
        width: 1132px;
        height: 800px;

        &-header {
            gap: 0;
        }
    }

    &__title,
    &__subtitle {
        font-size: 20px;
        font-weight: 600;
    }

    &__title {
        margin-bottom: 16px;
    }

    &__notice {
        justify-content: flex-start;

        border-radius: 10px;

        font-size: 16px;
        font-weight: 400;

        margin-bottom: 24px;
        padding: 16px 20px;
        width: 100%;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
        width: 100%;

        &-button {
            font-size: 14px;
            font-weight: 500;

            padding: 8px;
            width: fit-content;
            height: 40px;
            min-height: 40px;

            &:hover {
                font-weight: 500;
            }

            &-icon {
                font-size: 14px;
            }
        }
    }

    &__subtitle {

        &-container {
            display: flex;
            align-items: center;
            gap: 16px;
        }

        &-badge {
            --d-badge2-font-size: 14px;
            --d-badge2-size: 30px;
        }
    }

    &__search {
        margin-bottom: 48px;

        &-field {
            font-size: 16px;
            font-weight: 400;
            padding-left: 24px;
        }

        &-button {
            width: 140px;
        }
    }

    &__table {

        .d-table--small &-head-col {
            height: 30px;
        }

        .d-table__row:not(:first-child) &-col {
            &:not(:first-child)::before {
                content: "";
                background-color: #757575;
                position: absolute;
                top: 50%;
                left: 0;
                translate: 0 -50%;
                width: 0.5px;
                height: 20px;
            }
        }

        &-col {
            font-size: 14px;
            font-weight: 400;
            text-align: center;
        }

        &-button {
            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 18px;
            aspect-ratio: 1;
            width: 24px;
            height: 24px;

            &-container {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &-divider {
                --d-divider-length: 15px;
            }
        }
    }

    @media (width <=1920px) {
        &__modal {
            width: 878px;
            height: 690px;
        }

        &__title,
        &__subtitle {
            font-size: 16px;
        }

        &__header {
            margin-bottom: 16px;

            &-button {
                font-size: 16px;
                min-height: 38px;
                height: 38px;
            }
        }

        &__subtitle {
            &-badge {
                --d-badge2-size: 24px;
            }
        }

        &__notice {
            border-radius: 6px;
            font-size: 14px;
            padding: 12px 20px;
        }
    }

    @media (width <=1536px) {
        &__modal {
            --d-modal2-padding: 16px;

            & {
                width: 656px;
                height: 516px;
            }

            &-close {
                right: 16px;
                top: 16px;
            }
        }

        &__notice {
            font-size: 12px;
            padding: 8px;
            margin-bottom: 16px;
        }

        &__header {
            margin-bottom: 24px;

            &-button {
                font-size: 14px;
                height: 32px;
                min-height: 32px;

                &-icon {
                    font-size: 12px;
                }
            }
        }

        &__subtitle {
            font-size: 14px;

            &-badge {
                --d-badge2-size: 20px;
                --d-badge2-font-size: 12px;
            }
        }

        &__search {
            margin-bottom: 40px;
        }
    }

    @media (width <= 1280px) {
        &__title {
            font-size: 14px;
        }

        &__notice {
            font-size: 10px;
        }

        &__header {
            margin-bottom: 16px;

            &-button {
                font-size: 10px;
                font-weight: 400;

                height: 24px;
                min-height: 24px;
            }
        }

        &__subtitle {

            &-container {
                gap: 8px;
            }

            &-badge {
                --d-badge2-size: 16px;
                --d-badge2-font-size: 10px;
            }
        }

        &__search {
            font-size: 10px;
            font-weight: 400;

            margin-bottom: 24px;
            height: 24px;

            &-field {
                font-size: 10px;
                padding-left: 16px;
            }

            &-button {
                font-size: 10px;
                font-weight: 400;
                padding: 2px 20px;
                height: 20px;
                min-height: 20px;
                width: auto;
            }
        }
    }

    @media (width <= 1024px) {
        &__modal {
            width: 632px;
            height: 434px;
        }

        &__title {
            font-size: 12px;
        }

        &__header {
            &-button {
                display: none;
            }
        }

        &__subtitle {
            font-size: 10px;

            &-container {
                gap: 4px;
            }

            &-badge {
                --d-badge2-size: 14px;
                --d-badge2-font-size: 9px;
            }
        }

        &__notice {
            font-size: 12px;
        }
        
        &__search {
            margin-bottom: 16px;
        }
    }

    @media (width <= 800px) {
        &__modal {
            width: 472px;
            height: 398px;
        }

        &__title {
            font-size: 9px;
            margin-bottom: 8px;
        }

        &__notice {
            border-radius: 4px;
            font-size: 9px;
            padding: 2px 8px;
        }

        &__header {
            margin-bottom: 8px;
        }

        &__subtitle {
            font-size: 9px;
        }

        &__search {
            height: 18px;
            padding-left: 8px;
            margin-bottom: 28px;

            &-field {
                font-size: 8px;
                padding-left: 0;
            }

            &-button {
                font-size: 9px;
                padding: 2px 16px;
                height: 16px;
                min-height: 16px;
            }
        }
    }
}

.need-create {

    &__modal {
        width: 1040px;
        height: 700px;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__title-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 24px;
    }

    &__description {
        color: #757575;
        font-size: 14px;
        font-weight: 400;
    }

    &__input {
        margin-bottom: 40px;
    }

    &__template {
        color: #FBFBFB;
        font-size: 16px;
        font-weight: 600;

        margin-bottom: 24px;
        padding: 8px 16px;
        height: 40px;
        min-height: 40px;

        &-icon {
            font-size: 24px;
        }
    }

    &__upload {
        padding: 16px;
    }

    &__create {
        align-self: center;

        padding: 8px 12px;
        height: 40px;
        min-height: 40px;
        min-width: 100px;
    }

    @media (width <=1920px) {
        &__modal {
            width: 784px;
            height: 600px;
        }

        &__title {
            &-container {
                margin-bottom: 16px;
            }
        }

        &__description {
            font-size: 12px;
        }

        &__input {
            margin-bottom: 32px;
        }

        &__tempalte {
            min-height: 38px;
            height: 38px;
        }

        &__create {
            min-height: 38px;
            height: 38px;
        }
    }
}

.need-vendor {

    &__modal {
        width: 1040px;
        height: 362px;
    }

    &__notice {
        margin-bottom: 32px;
    }

    &__input {
        margin-bottom: 16px;

        &-container {
            margin-bottom: 16px;
        }
    }

    &__radio {
        &-label {
            color: #282828;
            font-size: 16px;
            font-weight: 500;
        }
    }

    &__show {
        align-self: center;
    }

    @media (width <=1920px) {
        &__modal {
            width: 784px;
            height: 348px;
        }

        &__title {
            font-size: 16px;
        }
    }

    @media (width <= 1536px) {
        &__notice {
            margin-bottom: 24px;
        }

        &__input {
            margin-bottom: 20px;
        }

        &__radio {
            --d-radio-width: 14px;

            &-label {
                font-size: 12px;
            }
        }

        &__show {
            height: 32px;
            min-height: 32px;
        }
    }
}