@use "../mixins" as *;

.order {
	display: flex;
	flex-direction: column;

	padding: 32px;
	max-height: 100%;

	// Sheet
	&__sheet {
		border-radius: 12px 0 0 12px;
		padding: 0;
		width: 816px;
		max-height: calc(100dvh - var(--header-height)); // Высота шапки .header
	}

	// Шапка
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 8px;
		margin-bottom: 24px;

		&-title {
			font-size: 20px;
			font-weight: 600;
		}

		&-close {
			font-size: 13px;
			aspect-ratio: 1;
			width: 20px;
			height: 20px;
		}
	}

	// Информация о плательщике
	&__info {
		display: flex;
		justify-content: space-between;
		gap: 8px;

		background-color: #ededed;
		border-radius: 8px;
		box-shadow: 0px 4px 13.4px -5px #00000042;

		margin-bottom: 32px;
		padding: 8px 16px;
		width: 100%;

		&-left {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}

		&-right {
			display: flex;
			align-items: flex-start;
		}

		&-item {
			display: flex;
			align-items: center;

			&-label {
				color: #757575;
				font-size: 16px;
				font-weight: 500;
			}

			&-value {
				font-size: 16px;
				font-weight: 600;
			}
		}

		&-edit {
			display: flex;
			justify-content: center;
			align-items: center;

			font-size: 15px;

			width: 22px;
			height: 22px;
		}
	}

	// Карточка товара
	&__item {
		display: flex;
		flex-direction: column;

		background-color: #fbfbfb;
		border-radius: 8px;
		box-shadow: 0px 4px 13.4px -5px #00000042;

		padding: 16px;
		width: 100%;

		// Список товаров
		&-list {
			@include scrollbar;

			& {
				display: flex;
				flex-direction: column;
				gap: 16px;
				overflow-y: auto;
			}
		}

		&-header {
			display: flex;
			flex-direction: column;
			gap: 8px;

			&-top {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 20px;

				margin-bottom: 8px;
				width: 100%;
			}

			&-bottom {
				display: flex;
				align-items: center;

				width: 100%;
			}

			&-left {
				display: flex;
				align-items: center;
			}

			&-right {
				display: flex;
				align-items: center;
			}

			&-badge {
				display: flex;
				align-items: center;
				gap: 8px;

				padding: 2px 8px;
				height: 30px;

				&-image {
					object-fit: contain;
					width: 100%;
					height: 100%;

					&-container {
						border-radius: 50%;
						aspect-ratio: 1;
						width: 24px;
						height: 24px;
					}
				}

				&-text {
					color: #282828;
					font-size: 16px;
					font-weight: 500;
				}
			}

			&-divider {
				--d-divider-length: 15px;
			}

			&-warehouse {
				display: flex;
				align-items: center;

				&-label,
				&-value {
					font-size: 16px;
					font-weight: 400;
				}

				&-label {
					color: #757575;
				}
			}

			&-delete {
				font-size: 16px;
				aspect-ratio: 1;
				width: 22px;
				height: 22px;
			}

			&-icon {
				font-size: 20px;
				width: 24px;
				height: 24px;
				color: #757575;
				margin-right: 8px;
			}

			&-address {
				display: flex;
				align-items: center;

				&-icon {
					color: #757575;
					font-size: 24px;
					margin-right: 8px;
				}

				&-label,
				&-value {
					font-size: 16px;
					font-weight: 400;
				}

				&-label {
					color: #757575;
				}
			}
		}

		&-content {
			display: flex;
			flex-direction: column;
			gap: 28px;

			padding-inline: 4px;

			&-top {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 20px;
				width: 100%;

				&-right {
					display: flex;
					flex-direction: column;
					gap: 8px;
				}
			}

			&-bottom {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 20px;
				width: 100%;

				&-left,
				&-right {
					display: flex;
					align-items: center;
				}
			}
		}

		&-product {
			display: flex;
			gap: 16px;

			&-image {
				object-fit: contain;
				width: 100%;
				height: 100%;

				&-container {
					aspect-ratio: 1;
					width: 50px;
					height: 50px;
				}
			}

			&-content {
				display: flex;
				flex-direction: column;
				gap: 4px;
			}

			&-title {
				font-size: 16px;
				font-weight: 600;
			}

			&-article {
				color: #757575;
				font-size: 16px;
				font-weight: 500;
			}

			&-price {
				font-size: 20px;
				font-weight: 600;
			}

			&-counter {
				background-color: #ededed;
				border: none;

				max-width: 120px;
				height: 30px;

				&-button {
					padding-inline: 4px;
					width: 24px;
					min-width: 24px;
				}

				&-input {
					font-size: 14px;
					font-weight: 500;
				}
			}

			&-additional {
				display: flex;
				align-items: center;
				gap: 16px;
			}

			&-discount {
				background-color: #cdf0a9;
				border-radius: 19px;
				color: #757575;
				font-size: 12px;
				font-weight: 500;
				padding: 2px 10px;
				height: 20px;
			}
		}

		&-prop {
			display: flex;
			align-items: center;

			&-label,
			&-value {
				font-size: 14px;
				font-weight: 500;
			}

			&-label {
				color: #757575;
			}
		}

		&-buy {
			font-size: 16px;
			font-weight: 600;

			padding-inline: 16px;
			height: 32px;
			min-height: 32px;
		}

		&-upload {
			display: flex;
			justify-content: center;
			align-items: center;

			font-size: 24px;

			aspect-ratio: 1;
			width: 24px;
			height: 24px;
		}
	}

	// Подвал
	&__footer {
		display: flex;
		flex-direction: column;

		&-divider {
			--d-divider-margin: 48px;
		}

		&-content {
			display: flex;
			justify-content: space-between;
			gap: 20px;
		}

		&-left {
			display: flex;
		}

		&-right {
			display: flex;
			align-items: flex-end;
			flex-direction: column;
			gap: 16px;
		}

		&-label,
		&-value {
			font-size: 20px;
			font-weight: 600;
		}

		&-actions {
			display: flex;
			align-items: center;

			&-buy {
				font-size: 16px;
				font-weight: 600;

				padding: 4px 16px;
				height: 32px;
				min-height: 32px;
			}

			&-upload {
				font-size: 24px;
				width: 24px;
				height: 24px;
			}
		}
	}

	@media (width <=1920px) {
		padding: 16px;
	}

	@media (width <=1280px) {
		&__sheet {
			width: 622px;
		}

		&__header {
			margin-bottom: 16px;

			&-title {
				font-size: 16px;
			}

			&-close {
				color: #282828;
				font-size: 10px;
				width: 14px;
				height: 14px;
			}
		}

		&__info {
			margin-bottom: 16px;

			&-item {
				&-label {
					font-size: 14px;
					font-weight: 400;
				}

				&-value {
					font-size: 14px;
					font-weight: 500;
				}
			}

			&-edit {
				width: 20px;
				height: 20px;
			}
		}

		&__item {
			&-list {
				border-radius: 8px;
				gap: 12px;
				padding-bottom: 120px;
			}

			&-header {
				&-badge {
					height: 24px;

					&-image {
						&-container {
							width: 18px;
							height: 18px;
						}
					}

					&-text {
						font-size: 12px;
					}
				}

				&-warehouse {
					&-label {
						font-size: 14px;
					}

					&-value {
						font-size: 14px;
					}
				}

				&-delete {
					display: none;
				}
			}

			&-product {
				gap: 8px;

				&-title,
				&-article {
					font-size: 14px;
				}

				&-additional {
					gap: 8px;
				}

				&-price {
					font-size: 16px;
				}

				&-counter {
					height: 24px;
				}
			}

			&-prop {
				&-label,
				&-value {
					font-size: 10px;
				}

				&-divider {
					display: none;
				}
			}

			&-content {
				&-top {
					&-right {
						align-items: center;
					}
				}

				&-bottom {
					&-left {
						align-items: flex-start;
						gap: 4px;
						flex-direction: column;
					}
				}
			}

			&-buy {
				font-size: 14px;
				padding: 4px 12px;
				height: 30px;
				min-height: 30px;
			}

			&-divider {
				--d-divider-margin: 8px 16px;
			}

			&-upload {
				font-size: 15px;
				width: 20px;
				height: 20px;
			}
		}
	}

	&__footer {
		background-color: #FFFFFF8C;
		backdrop-filter: blur(8px);

		position: absolute;
		bottom: 0;
		left: 50%;
		translate: -50% 0;
		
		padding: 0 16px 16px;
		width: 100%;

		&-divider {
			--d-divider-margin: 0 16px;
		}

		&-actions {
			&-upload {
				font-size: 18px;
			}
		}
	}
}