.products {
    padding-block: 40px;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        &-wrapper {
            display: flex;
            flex-direction: column;
            gap: 40px;
            margin-bottom: 40px;
        }

        &-left {
            display: flex;
            align-items: center;
            gap: 40px;
        }

        &-right {
            display: flex;
            align-items: center;
            gap: 16px;
        }

        &-button {
            --icon-size: 15px;

            & {
                font-size: 14px;
                padding: 4px 16px;
                min-height: 40px;
            }

            &-icon {
                font-size: var(--icon-size);
            }

            &--filter {
                --icon-size: 10px;
            }
        }
    }

    &__forecast {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        padding-bottom: 20px;
    }

    &__filter {
        display: flex;
        justify-content: flex-end;
        gap: 40px;
    }

    &__header {
        display: flex;
        align-items: center;
        gap: 40px;
        justify-content: space-between;

        &-left {
            display: flex;
            align-items: center;
            gap: 24px;
            max-width: 600px;
        }

        &-right {
            display: flex;
            align-items: center;
        }
    }

    &__image {
        object-fit: cover;
        width: 100%;
        height: 100%;

        &-container {
            display: flex;
            justify-content: center;
            align-items: center;

            background-color: #fff;
            border-radius: 6px;
            padding: 2px;
            width: 62px;
            height: 62px;
        }
    }

    &__title {
        font-size: 24px;
        font-weight: 600;
    }

    &__stat {
        display: flex;
        align-items: center;
        gap: 16px;

        &-value {
            color: #757575;
            font-size: 20px;
            font-weight: 600;
        }

        &-label {
            font-size: 14px;
            font-weight: 500;
        }

        &-divider {
            height: 31px;
        }
    }
}