.registration {

    &__form {
        margin-bottom: 68px;
    }

    &__fields {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__add-button {
        margin-bottom: 32px;
    }
}