@font-face {
    font-family: "Geist";
    src: url("../assets/fonts/Geist/Geist-Black.woff2") format("woff2"),
        url("../assets/fonts/Geist/Geist-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Geist";
    src: url("../assets/fonts/Geist/Geist-Bold.woff2") format("woff2"),
        url("../assets/fonts/Geist/Geist-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Geist";
    src: url("../assets/fonts/Geist/Geist-ExtraBold.woff2") format("woff2"),
        url("../assets/fonts/Geist/Geist-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Geist";
    src: url("../assets/fonts/Geist/Geist-ExtraLight.woff2") format("woff2"),
        url("../assets/fonts/Geist/Geist-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Geist";
    src: url("../assets/fonts/Geist/Geist-Light.woff2") format("woff2"),
        url("../assets/fonts/Geist/Geist-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Geist";
    src: url("../assets/fonts/Geist/Geist-Medium.woff2") format("woff2"),
        url("../assets/fonts/Geist/Geist-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Geist";
    src: url("../assets/fonts/Geist/Geist-Regulat.woff2") format("woff2"),
        url("../assets/fonts/Geist/Geist-Regulat.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Geist";
    src: url("../assets/fonts/Geist/Geist-SemiBold.woff2") format("woff2"),
        url("../assets/fonts/Geist/Geist-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Geist";
    src: url("../assets/fonts/Geist/Geist-Thin.woff2") format("woff2"),
        url("../assets/fonts/Geist/Geist-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

body {
    font-family: "Geist", sans-serif;
}

/*!
 *  Iconly icon font. Generated by Iconly: https://iconly.io/
 */

// @font-face {
//     font-display: auto;
//     font-family: "Iconly";
//     font-style: normal;
//     font-weight: 400;
//     src: url("../assets/fonts/machinestore-font/iconly.eot?1740561583220");
//     src: url("../assets/fonts/machinestore-font/iconly.eot?#iefix")
//             format("embedded-opentype"),
//         url("../assets/fonts/machinestore-font/iconly.woff2?1740561583220")
//             format("woff2"),
//         url("../assets/fonts/machinestore-font/iconly.woff?1740561583220")
//             format("woff"),
//         url("../assets/fonts/machinestore-font/iconly.ttf?1740561583220")
//             format("truetype"),
//         url("../assets/fonts/machinestore-font/iconly.svg?1740561583220#Iconly")
//             format("svg");
// }

// [class="d-icon"],
// [class^="d-icon-"],
// [class*=" d-icon-"] {
//     display: inline-block;
//     font-family: "Iconly" !important;
//     font-weight: 400;
//     font-style: normal;
//     font-variant: normal;
//     text-rendering: auto;
//     line-height: 1;
//     -moz-osx-font-smoothing: grayscale;
//     -webkit-font-smoothing: antialiased;
// }

// .d-icon-window:before {
//     content: "\e000";
// }

// .d-icon-warning:before {
//     content: "\e001";
// }

// .d-icon-times:before {
//     content: "\e002";
// }

// .d-icon-search:before {
//     content: "\e003";
// }

// .d-icon-plus:before {
//     content: "\e004";
// }

// .d-icon-messages:before {
//     content: "\e005";
// }

// .d-icon-logo-800:before {
//     content: "\e006";
// }

// .d-icon-logo-640:before {
//     content: "\e007";
// }

// .d-icon-logo-400:before {
//     content: "\e008";
// }

// .d-icon-logo-320:before {
//     content: "\e009";
// }

// .d-icon-logo-1920:before {
//     content: "\e00a";
// }

// .d-icon-location:before {
//     content: "\e00b";
// }

// .d-icon-eye:before {
//     content: "\e00c";
// }

// .d-icon-arrow:before {
//     content: "\e00e";
// }
