.block {
    background-color: azure;
    border: 2px solid red;
    border-radius: 12px;
    padding: 15px;
    height: 150px;
}

body {  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    background-color: rgb(160, 160, 160);

    min-height: 100dvh;
}