.d-button {
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px; // 14px

	background-color: #f92c0d;
	border: 1px solid transparent;
	border-radius: 28px; // 30px

	color: #fbfbfb;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.3;

	transition-duration: 0.2s;

	padding-top: 8px; // 8.5px
	padding-bottom: 8px; // 8.px
	padding-left: 12px; // 10px
	padding-right: 12px; // 10px

	width: 368px;
	height: 38px;

	&:hover {
		background-color: #fbfbfb;
		color: #282828;
	}

	&:active {
		background-color: #f92c0d;
		color: #fbfbfb;
		font-weight: 700;
	}

	&:focus-visible {
		background-color: #fbfbfb;
		border-color: #f92c0d;
		color: #f92c0d;
	}

	&:disabled {
		cursor: default;
		background-color: #757575;
		color: #282828;
		font-weight: 700;
	}

	@media (width <= 800px) {
		width: 376px;
	}

	@media (width <= 640px) {
		font-size: 14px;
		height: 32px;
	}

	@media (width <= 400px) {
		width: 320px; // 319px
	}

	@media (width <= 320px) {
		width: 248px;
	}
}

.d-button-alt {
	@extend .d-button;

	background-color: #fbfbfb;
	color: #282828;

	&:hover {
		background-color: #f92c0d;
		color: #fbfbfb;
	}

	&:active {
		background-color: #fbfbfb;
		color: #282828;
		font-weight: 600;
	}

	&:focus-visible {
		background-color: #282828;
		border-color: #fbfbfb;
		color: #fbfbfb;
	}
}

.d-link {
	@extend .d-button;

	background-color: transparent;
	border: 1px solid transparent;
	font-weight: 400;
	text-decoration: underline;

	&:hover {
		background-color: transparent;
		color: #f92c0d;
		font-weight: 400;
	}

	&:active {
		background-color: transparent;
		color: #fbfbfb;
		font-weight: 400;
	}

	&:focus-visible {
		background-color: transparent;
		border-color: #fbfbfb;
		color: #fbfbfb;
		font-weight: 400;
	}

	&:disabled {
		background-color: transparent;
		font-weight: 400;
	}
}

.d-input {
	display: flex;
	align-items: center;

	background-color: #282828;
	border: 1px solid #757575;
	border-radius: 4px;

	color: #ededed;

	font-size: 14px;
	font-weight: 400;

	position: relative;

	width: 368px;
	height: 40px;

	&__field {
		background-color: transparent;
		color: inherit;

		padding: 4px 12px;

		width: 100%;
		height: 100%;

		&::placeholder {
			color: #757575;
		}
	}

	&:focus-within {
		border-color: #fbfbfb;
		border-bottom-width: 2px;
	}

	&:has(.d-input__field:disabled) {
		background-color: #757575;
		border-color: transparent;
		color: #282828;
	}
}

.d-button-rounded {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #f92c0d;
	border: 1px solid transparent;
	border-radius: 50%;

	transition-duration: 0.3s;

	padding: 8px;

	width: 40px;
	height: 40px;

	&__icon::before {
		color: #fbfbfb;
		font-size: 24px;
		transition-duration: 0.3s;
	}

	&:hover {
		background-color: #fbfbfb;

		.d-button-rounded__icon::before {
			color: #282828;
		}
	}

	&:active {
		background-color: #f92c0d;

		.d-button-rounded__icon::before {
			color: #fbfbfb;
		}
	}

	&:focus-visible {
		border-color: #fbfbfb;
	}

	&:disabled {
		cursor: default;
		background-color: #757575;

		.d-button-rounded__icon::before {
			color: #282828;
		}
	}
}

.d-close {
	cursor: pointer;

	background-color: transparent;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 4px;

	width: 16px;
	height: 16px;

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;

		&::before {
			color: #fbfbfb;
			font-size: 8px;
			transition-duration: 0.3s;
		}
	}

	&:hover {
		.d-close__icon::before {
			color: #f92c0d;
		}
	}

	&:active,
	&:focus-visible {
		.d-close__icon::before {
			color: #fbfbfb;
		}
	}

	&:disabled {
		.d-close__icon::before {
			color: #282828;
		}
	}
}

.d-show {
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #fbfbfb;
	border: 1px solid transparent;
	border-radius: 3px;

	transition-duration: 0.3s;

	padding: 4px;

	width: 26px;
	height: 26px;

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;

		&::before {
			color: #282828;
			font-size: 12px;
			transition-duration: 0.3s;
			translate: 0 -25%;
		}
	}

	&:hover {
		background-color: #757575;

		.d-show__icon::before {
			color: #f92c0d;
		}
	}

	&:active {
		background-color: #fbfbfb;

		.d-show__icon::before {
			color: #282828;
		}
	}

	&:focus-visible {
		background-color: #282828;
		border-color: #fbfbfb;

		.d-show__icon::before {
			color: #fbfbfb;
		}
	}

	&:disabled {
		cursor: default;
		background-color: #757575;

		.d-show__icon::before {
			color: #282828;
		}
	}
}

.d-show-alt {
	@extend .d-show;

	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 4px;

	padding: 8px;

	width: 32px;
	height: 32px;

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;

		&::before {
			color: #ededed;
			font-size: 12px;
			transition-duration: 0.3s;
			translate: 0 -25%;
		}
	}

	&:hover {
		background-color: transparent;

		.d-show-alt__icon::before {
			color: #f92c0d;
		}
	}

	&:active {
		background-color: transparent;

		.d-show-alt__icon::before {
			color: #ededed;
		}
	}

	&:focus-visible {
		background-color: transparent;
		border-color: #fbfbfb;

		.d-show-alt__icon::before {
			color: #fbfbfb;
		}
	}

	&:disabled {
		background-color: transparent;

		.d-show-alt__icon::before {
			color: #282828;
		}
	}
}

.d-button-sm {
	@extend .d-button;

	padding-left: 24px;
	padding-right: 24px;
	width: fit-content;

	&:hover {
		color: #f92c0d;
	}

	&:active {
		color: #fbfbfb;
		font-weight: 600;
	}

	&:disabled {
		color: #282828;
	}
}

.d-button-alt-sm {
	@extend .d-button-alt;

	border-color: #282828;

	padding-left: 24px;
	padding-right: 24px;
	width: fit-content;

	&:hover {
		background-color: #fbfbfb;
		border-color: #f92c0d;
		color: #f92c0d;
	}

	&:active {
		background-color: #fbfbfb;
		border-color: #282828;
		color: #242424;
	}

	&:disabled {
		background-color: #757575;
		border-color: transparent;
		color: #242424;
	}
}

.d-notion {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;

	background-color: #2828284d;
	backdrop-filter: blur(81.1px);
	border: 1px solid #e2e2e2;
	border-radius: 6px;

	position: fixed;
	top: 1%;
	left: 50%;
	translate: -50% -1%;

	padding: 4px 16px;

	max-width: 1520px;
	width: 80%;
	height: 48px;

	&__left {
		display: flex;
		align-items: center;
		gap: 12px;
	}

	&__category {
		display: flex;
		align-items: center;
		gap: 12px;
	}

	&__icon::before {
		color: #f92c0d;
		font-size: 16px;
	}

	&__category-name,
	&__title {
		font-size: 16px;
		font-weight: 400;
		line-height: 1.3;
	}

	&__category-name {
		color: #f92c0d;
	}

	&__title {
		color: #fbfbfb;
	}

	&__right {
		display: flex;
		gap: 20px;
		align-items: center;
	}

	&__button {
		padding-left: 20px;
		padding-right: 20px;
		height: 30px;
	}

    &:focus-within {
        border-color: #f92c0d;
    }

	&:has(.d-notion__button:disabled) {
		.d-notion__category-name,
		.d-notion__title,
		.d-notion__icon::before {
			color: #282828;
		}
	}
}
