:root {
	--d-input-bg-color: #282828;
	--d-input-border-color: #757575;
	--d-input-active-border-color: #fbfbfb;
	--d-input-border-width: 1px;
	--d-input-shadow: 0px 32px 64px 0px #0000008f;
	--d-input-color: #ededed;
	--d-input-placeholder-color: #757575;
	--d-input-padding: 4px 12px;

	--d-counter-border-color: #757575;
	--d-counter-button-color: #f92c0d;
	--d-counter-input-background: #ffffff;

	--d-modal2-width: 36%;
	--d-modal2-height: 70%;

	--d-dropdown-bg-color: #fbfbfb;
}

.d-button {
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px; // 14px

	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 28px; // 30px
	box-shadow: 0px 32px 64px 0px #0000008f;

	color: #fbfbfb;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.2;

	transition-duration: 0.2s;

	padding: 8px 12px;

	width: 100%;
	height: fit-content;
	min-height: 38px;
	max-width: 100%;

	@media (width <= 640px) {
		font-size: 14px;
		// height: 32px;
		min-height: 32px;
		padding-top: 4px;
		padding-bottom: 4px;
	}

	&:disabled[class] {
		cursor: default;
	}
}

.d-button-primary {
	background-color: #f92c0d;

	&:hover {
		background-color: #fbfbfb;
		color: #282828;
	}

	&:active {
		background-color: #f92c0d;
		color: #fbfbfb;
		font-weight: 700;
	}

	&:focus-visible {
		background-color: #fbfbfb;
		border-color: #f92c0d;
		color: #f92c0d;
	}

	&:disabled[class] {
		cursor: default;
		background-color: #757575;
		color: #282828;
		font-weight: 700;
	}
}

.d-button-secondary {
	background-color: #fbfbfb;
	color: #282828;

	&:hover {
		background-color: #f92c0d;
		color: #fbfbfb;
	}

	&:active {
		background-color: #fbfbfb;
		color: #282828;
		font-weight: 600;
	}

	&:focus-visible {
		background-color: #282828;
		border-color: #fbfbfb;
		color: #fbfbfb;
	}

	&:disabled[class] {
		cursor: default;
		background-color: #757575;
		color: #282828;
		font-weight: 700;
	}
}

.d-button-tertiary {
	background-color: #282828;
	color: #fbfbfb;

	&:hover {
		background-color: #fbfbfb;
		color: #282828;
	}

	&:active {
		background-color: #282828;
		color: #fbfbfb;
		font-weight: 600;
	}

	&:focus-visible {
		background-color: #fbfbfb;
		border-color: #282828;
		color: #282828;
	}

	&:disabled[class] {
		cursor: default;
		background-color: #757575;
		color: #282828;
		font-weight: 700;
	}
}

.d-button-link {
	box-shadow: none;
	background-color: transparent;
	border: 1px solid transparent;
	font-weight: 400;
	text-decoration: underline;

	&:hover {
		background-color: transparent;
		color: #f92c0d;
		font-weight: 400;
	}

	&:active {
		background-color: transparent;
		color: #fbfbfb;
		font-weight: 400;
	}

	&:focus-visible {
		background-color: transparent;
		border-color: #fbfbfb;
		color: #fbfbfb;
		font-weight: 400;
	}

	&:disabled[class] {
		background-color: transparent;
		color: #282828;
		font-weight: 400;
	}

	@media (width < 640px) {
		font-size: 14px;
	}
}

.d-close {
	cursor: pointer;

	background-color: transparent;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 4px;

	width: 16px;
	height: 16px;

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;

		&::before {
			color: #fbfbfb;
			font-size: 8px;
			transition-duration: 0.3s;
		}
	}

	&:hover {
		.d-close__icon::before {
			color: #f92c0d;
		}
	}

	&:active,
	&:focus-visible {
		.d-close__icon::before {
			color: #fbfbfb;
		}
	}

	&:disabled[class] {
		cursor: default;

		.d-close__icon::before {
			color: #282828;
		}
	}
}

.d-show {
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #fbfbfb;
	border: 1px solid transparent;
	border-radius: 3px;

	transition-duration: 0.3s;

	padding: 4px;

	width: 26px;
	height: 26px;

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;

		&::before {
			color: #282828;
			font-size: 12px;
			transition-duration: 0.3s;
			translate: 0 -25%;
		}
	}

	&:hover {
		background-color: #757575;

		.d-show__icon::before {
			color: #f92c0d;
		}
	}

	&:active {
		background-color: #fbfbfb;

		.d-show__icon::before {
			color: #282828;
		}
	}

	&:focus-visible {
		background-color: #282828;
		border-color: #fbfbfb;

		.d-show__icon::before {
			color: #fbfbfb;
		}
	}

	&:disabled[class] {
		cursor: default;
		background-color: #757575;

		.d-show__icon::before {
			color: #282828;
		}
	}
}

.d-show-alt {
	@extend .d-show;

	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 4px;

	padding: 8px;

	width: 32px;
	height: 32px;

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;

		&::before {
			color: #ededed;
			font-size: 12px;
			transition-duration: 0.3s;
			translate: 0 -25%;
		}
	}

	&:hover {
		background-color: transparent;

		.d-show-alt__icon::before {
			color: #f92c0d;
		}
	}

	&:active {
		background-color: transparent;

		.d-show-alt__icon::before {
			color: #ededed;
		}
	}

	&:focus-visible {
		background-color: transparent;
		border-color: #fbfbfb;

		.d-show-alt__icon::before {
			color: #fbfbfb;
		}
	}

	&:disabled[class] {
		background-color: transparent;

		.d-show-alt__icon::before {
			color: #282828;
		}
	}
}

.d-input {
	display: flex;
	align-items: center;

	background-color: var(--d-input-bg-color);
	border: var(--d-input-border-width) solid var(--d-input-border-color);
	border-bottom-width: 2px;
	border-radius: 4px;
	box-shadow: 0px 32px 64px 0px var(--d-input-shadow);

	color: var(--d-input-color);

	font-size: 14px;
	font-weight: 400;

	position: relative;

	// width: 368px;
	width: 100%;
	height: 40px;
	max-width: 100%;

	&__field {
		background-color: transparent;
		color: var(--d-input-color);

		padding: var(--d-input-padding);

		width: 100%;
		height: 100%;

		&::placeholder {
			color: var(--d-input-placeholder-color);
		}
	}

	&__button {
		display: none;

		background-color: inherit;

		position: absolute;
		right: 10px;
		top: 50%;
		translate: 0 -50%;

		max-height: 100%;
		padding: 2px 0;

		width: 32px;
		height: 32px;

		@media (width <= 640px) {
			width: 27px;
			height: 27px;
		}
	}

	&__dropdown-button {
		display: flex;
		justify-content: center;
		align-items: center;
		
		background-color: var(--d-input-bg-color);

		position: absolute;
		top: 50%;
		right: 16px;
		translate: 0 -50%;

		width: 24px;
		height: 24px;

		&-icon {
			font-size: 10px;
			font-weight: 700;
		}
	}

	&__show {
		padding: 0;
		width: 26px;
		height: 26px;

		@media (width <= 640px) {
			padding: 4px;
			width: 22px;
			height: 22px;
		}
	}

	&__group {
		display: flex;
		flex-direction: column;
		gap: 8px;

		@media (width <= 640px) {
			gap: 12px;
		}
	}

	&__label {
		display: inline-block;
		color: #e2e2e2;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.2;
		margin-bottom: 4px;
		position: relative;
		z-index: 1;
	}

	&__suggestions[class] {
		@include scrollbar;

		display: flex;
		flex-direction: column;
		gap: 2px;

		background-color: #202020;
		border: 1px solid #75757566;
		border-radius: 4px;
		box-shadow: 0px 0px 2px 0px #0000001f, 0px 8px 16px 0px #00000024;

		position: absolute;
		top: calc(100% + 2px);
		left: 50%;
		translate: -50% 0;
		z-index: 10;
		overflow-y: auto;

		padding: 4px;
		width: calc(100% + 4px);
		max-height: 142px;

		&:not(:has(.d-input__suggestion)) {
			border: none;
			padding: 0;
		}
	}
	&__suggestion {
		cursor: pointer;

		display: flex;
		align-items: center;

		color: #757575;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.3;

		position: relative;
		transition-duration: 0.3s;

		flex: 0 0 auto;
		padding: 4px;
		height: 32px;
		width: 100%;

		&--none {
			cursor: default;
		}

		&--disable {
			cursor: default;
			color: #282828;
		}

		&::before,
		&::after {
			opacity: 0;
			visibility: hidden;
			transition-duration: 0.2s;
		}

		&::before {
			content: "";

			background-color: #fbfbfb;
			border: 1px solid #0000000a;
			border-radius: 3px;

			position: absolute;
			top: 50%;
			left: 50%;
			translate: -50% -50%;
			z-index: -1;

			width: calc(100% - 8px);
			height: calc(100% - 8px);
		}

		&::after {
			content: "";

			background-color: #f92c0d;
			border-radius: 999px;

			position: absolute;
			top: 50%;
			left: 4px;
			translate: -50% -50%;

			width: 3px;
			height: 16px;
		}

		&:not(.d-input__suggestion--none, .d-input__suggestion--disable):hover {
			color: #282828;
			padding-left: 12px;
			padding-right: 12px;

			&::before,
			&::after {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	.d-show-alt {
		background-color: inherit;
	}

	.d-show__wrapper {
		right: 12px;
		width: auto;
		height: auto;
		padding-left: 6px;
	}

	&:focus-within {
		border-color: #fbfbfb;
	}

	&:has(.d-input__field:not(:placeholder-shown)) {
		border-color: var(--d-input-active-border-color);
	}

	&:has(.d-input__field:disabled) {
		background-color: #757575;
		border-color: transparent;
		color: #282828;

		.d-input__button {
			visibility: hidden;
		}
	}

	&--error {
		border-color: #f92c0d;
		color: #f92c0d;
	}

	&--light {
		--d-input-bg-color: #FBFBFB;
		--d-input-shadow: none;
		--d-input-border-width: 0.2px;
		--d-input-border-color: #757575;
		--d-input-active-border-color: #757575;
		--d-input-color: #282828;
		--d-input-placeholder-color: #757575;
		--d-input-padding: 4px 16px;

		font-weight: 500;
	}

	@media (width <= 800px) {
		width: 376px;
	}
	@media (width <= 640px) {
		height: 32px;
	}
	@media (width <= 400px) {
		width: 320px;
	}
	@media (width <= 320px) {
		width: 248px;
	}
}

.d-button-rounded {
	// cursor: pointer;
	// display: flex;
	// justify-content: center;
	// align-items: center;

	border-radius: 50%;

	padding: 8px;
	width: 40px;
	height: 40px;

	&__icon::before {
		color: #fbfbfb;
		font-size: 24px;
		transition-duration: 0.3s;
	}

	&:hover {
		.d-button-rounded__icon::before {
			color: #282828;
		}
	}

	&:active {
		.d-button-rounded__icon::before {
			color: #fbfbfb;
		}
	}

	&:focus-visible {
		background-color: #f92c0d;
		border-color: #fbfbfb;
	}

	&:disabled[class] {
		.d-button-rounded__icon::before {
			color: #282828;
		}
	}
}

.d-button-primary-small {
	font-size: 14px;

	padding-left: 24px;
	padding-right: 24px;

	width: fit-content;
	min-height: 32px;
	// min-width: 88px;

	&:hover {
		color: #f92c0d;
	}

	&:active {
		background-color: #f92c0d;
		color: #fbfbfb;
		font-weight: 600;
	}

	&:disabled {
		color: #282828;
	}

	@media (width <= 640px) {
		padding: 2px 16px;
		min-height: 26px;
		// min-width: 76px;
	}
}

.d-button-secondary-small {
	font-size: 14px;
	border-color: #282828;

	padding-left: 24px;
	padding-right: 24px;

	width: fit-content;
	min-height: 32px;

	&:hover {
		background-color: #fbfbfb;
		border-color: #f92c0d;
		color: #f92c0d;
	}

	&:active {
		background-color: #fbfbfb;
		border-color: #282828;
		color: #242424;
	}

	&:disabled {
		background-color: #757575;
		border-color: transparent;
		color: #242424;
	}

	@media (width <= 640px) {
		padding: 2px 16px;
		min-height: 26px;
	}
}

.d-button-tertiary-small {
	font-size: 14px;
	// border-color: #282828;

	padding: 4px 24px;

	width: fit-content;
	min-height: 32px;

	&:hover {
		// background-color: #fbfbfb;
		border-color: #282828;
		// color: #f92c0d;
	}

	// &:active {
	// 	background-color: #fbfbfb;
	// 	border-color: #282828;
	// 	color: #242424;
	// }

	// &:disabled {
	// 	background-color: #757575;
	// 	border-color: transparent;
	// 	color: #242424;
	// }

	@media (width <= 640px) {
		padding: 2px 16px;
		min-height: 26px;
	}
}

.d-notion {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;

	background-color: #2828284d;
	backdrop-filter: blur(60px);
	box-shadow: 0px 32px 64px 0px #0000008f;
	border: 1px solid #e2e2e2;
	border-radius: 6px;

	position: fixed;
	top: 1%;
	left: 50%;
	translate: -50% -1%;
	overflow: hidden;

	padding: 12px 16px;

	max-width: 1520px;
	width: 80%;
	min-height: 48px;

	&__left {
		display: flex;
		align-items: flex-start;
		gap: 12px;
	}

	&__middle {
		display: flex;
		flex-direction: column;
		gap: 6px;

		@media (width <= 400px) {
			gap: 8px;
		}
		@media (width <= 320px) {
			gap: 6px;
		}
	}

	&__category {
		display: flex;
		align-items: center;
		gap: 12px;
	}

	&__icon::before {
		color: #f92c0d;
		font-size: 16px;
	}

	&__category-name,
	&__title {
		font-size: 16px;
		font-weight: 400;
		line-height: 1.2;

		@media (width <= 800px) {
			font-size: 14px;
		}
		@media (width <= 640px) {
			font-size: 12px;
		}
	}

	&__category-name {
		color: #f92c0d;

		@media (width <= 640px) {
			font-weight: 500;
		}
		@media (width <= 640px) {
			font-weight: 700;
		}
		@media (width <= 400px) {
			font-weight: 500;
		}
	}

	&__title {
		color: #fbfbfb;
		text-overflow: ellipsis;
	}

	&__right {
		display: flex;
		gap: 20px;
		align-items: center;

		@media (width <= 640px) {
			align-items: flex-start;
		}
	}

	&__button {
		padding-left: 20px;
		padding-right: 20px;
		height: 30px;
	}

	&:has(.d-notion__button:focus-visible) {
		border-color: #f92c0d;
	}

	&--disabled {
		.d-notion__category-name,
		.d-notion__title {
			color: #282828;
		}

		.d-error {
			background-color: #282828;
		}

		.d-notion__button {
			background-color: #282828;
			color: #fbfbfb;
		}
	}

	@media (width <= 640px) {
		top: 5%;
		align-items: flex-start;
		gap: 12px;
		width: 60%;
	}
	@media (width <= 400px) {
		width: 80%;
		top: 3%;
	}
}

.d-window-button {
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #ffffffc9;
	border: 1px solid transparent;
	border-radius: 3px;

	padding: 4px;

	transition-duration: 0.3s;

	width: 26px;
	height: 26px;

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;

		&::before {
			color: #282828;
			font-size: 12px;
		}
	}

	@media (width <= 800px) {
		width: 22px;
		height: 22px;
	}
}

.d-location {
	cursor: pointer;

	background-color: transparent;

	display: flex;
	justify-content: center;
	align-items: center;

	transition-duration: 0.3s;

	padding: 4px;
	width: 32px;
	height: 32px;

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;

		&::before {
			color: #282828;
			font-size: 20px;
		}
	}

	@media (width <= 800px) {
		width: 30px;
		height: 30px;

		.d-location__icon::before {
			font-size: 16px;
		}
	}
}

.d-back {
	cursor: pointer;

	background-color: transparent;
	color: #fbfbfb;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 25px;

	padding-left: 16px;
	padding-right: 12px;
	height: 48px;

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		color: inherit;

		&::before {
			font-size: 16px;
			color: inherit;
		}
	}

	&__text {
		color: inherit;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.2;
	}

	@media (width <= 800px) {
		height: 40px;
	}
}

.d-error {
	background-color: #f92c0d;
	border-radius: 50%;

	position: relative;

	aspect-ratio: 1;
	padding: 2px;
	width: 16px;
	height: 16px;

	&::before,
	&::after {
		content: "";

		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;

		background-color: #ffffff;
		border-radius: 1px;

		width: 1.2px;
		height: 10.75px;
	}

	&::before {
		rotate: 45deg;
	}
	&::after {
		rotate: -45deg;
	}
}

.d-input-error {
	display: flex;
	gap: 4px;
	margin-top: 2px;

	position: relative;
	z-index: 1;

	width: 368px;
	max-width: 100%;

	&__icon {
		display: flex;
		justify-content: center;
		margin-top: 2px;

		&::before {
			color: #f92c0d;
			font-size: 10px;
		}
	}

	&__text {
		color: #f92c0d;
		font-size: 12px;
		font-weight: 300;
		line-height: 1.2;
	}

	@media (width <= 800px) {
		width: 376px;
	}
	@media (width <= 400px) {
		width: 320px;
	}
	@media (width <= 320px) {
		width: 248px;
	}
}

.d-modal {
	background-color: #ffffff;
	border-radius: 8px;
	position: relative;
	padding: 20px 24px 16px 24px;
	width: 850px;

	&--active {
		.modal__wrapper {
			visibility: visible;
		}
	}

	&__title {
		color: #282828;
		font-size: 24px;
		font-weight: 600;
		line-height: 1.3;

		@media (width <= 800px) {
			font-size: 20px;
		}
		@media (width <= 640px) {
			font-size: 14px;
		}
	}

	&__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;

		background-color: #00000080;

		position: fixed;
		inset: 0;
		// visibility: hidden;

		z-index: 100;
	}

	&__close {
		cursor: pointer;

		display: flex;
		justify-content: center;
		align-items: center;

		background: none;
		width: 24px;
		height: 24px;

		position: absolute;
		top: 24px;
		right: 24px;

		@media (width <= 800px) {
			top: 16px;
		}
		@media (width <= 640px) {
			top: 12px;
			right: 20px;

			width: 20px;
			height: 20px;
		}
		@media (width <= 320px) {
			right: 18px;
		}
	}

	&__icon {
		font-size: 12px;
	}

	@media (width <= 800px) {
		padding: 12px 24px 24px 24px;
		max-width: 75%;
	}
	@media (width <= 640px) {
		padding-bottom: 28px;
		max-width: 60%;
	}
	@media (width <= 400px) {
		max-width: 95%;
	}
	@media (width <= 320xp) {
		max-width: 100%;
	}
}

.d-search {
	display: flex;
	align-items: center;

	background-color: #ffffff;
	border: 1px solid #d1d1d1;
	border-radius: 30px;

	position: relative;

	width: 100%;

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		color: #757575;
		font-size: 13px;
		margin-left: 4px;
		margin-right: 8px;
		width: 30px;
		height: 30px;

		@media (width <= 800px) {
			margin-left: 8px;
		}
	}

	&__field {
		color: #282828;
		font-size: 14px;
		line-height: 1.3;

		flex: 1 0 0;
		margin-right: 20px;
		width: 100%;

		&::placeholder {
			color: #757575;
		}

		@media (width <= 320px) {
			font-size: 12px;
		}
	}

	&__icon-button {
		margin-right: 16px;
		width: 24px;
		height: 24px;

		&-icon {
			color: #757575;
		}
	}

	&__suggestions[class] {
		@include scrollbar;

		box-shadow: 0px 0px 2px 0px #0000001f, 0px 8px 16px 0px #00000024;
		background-color: #ffffff;
		border-radius: 4px;

		display: flex;
		flex-direction: column;
		gap: 4px;

		position: absolute;
		top: calc(100% + 1px);
		left: 0;

		overflow-y: auto;

		width: 100%;
		max-height: 176px;

		&:has(.d-search__suggestion) {
			padding: 4px;
		}
	}

	&__suggestion {
		cursor: pointer;

		border-radius: 2px;

		color: #282828;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.3;

		position: relative;
		transition-duration: 0.2s;

		flex: 1 0 auto;
		padding: 4px 8px;
		min-height: 30px;
		width: 100%;

		&::before {
			content: "";

			background-color: #f92c0d;
			border-radius: 999px;

			position: absolute;
			top: 50%;
			left: 0;
			translate: 0 -50%;
			opacity: 0;
			visibility: hidden;
			transition-duration: 0.2s;

			width: 3px;
			height: 16px;
		}

		&:hover {
			background-color: #ededed;
			font-weight: 600;

			&::before {
				visibility: visible;
				opacity: 1;
			}
		}
	}

	&--alt {
		border: none;
		box-shadow: 0px 4px 13.4px 0px #00000042;
		padding: 2px;
		height: 40px;

		.d-search__icon {
			font-size: 17px;
			margin-left: 14px;
			width: 24px;
			height: 24px;
		}

		.d-search__field {
			font-size: 14px;
		}

		.d-search__button {
			font-size: 16px;
			font-weight: 600;
		}
	}

	&--alt2 {
		border: none;
		box-shadow: 0px 4px 13.4px 0px #00000042;
		padding: 8px 24px;
		height: 40px;

		.d-search__field {
			font-size: 16px;
		}

		.d-search__icon-button {
			font-size: 17px;
			margin-right: 0;
		}
	}
}

.d-indicator {
	box-shadow: 0 0 4px #f92c0d, 0 0 7px #f92c0d;
	width: 8px;
	height: 8px;
	background-color: #f92c0d;
	border-radius: 50%;
	filter: blur(2px);
	border: 2px solid #f92c0d;
}

.skeleton {
	background: linear-gradient(90deg, #e9e9e9 0%, #fafafa 50%, #e9e9e9 100%);
	border-radius: 5px;
	height: 200px;

	&--big {
		height: 260px;
	}

	&--rounded {
		border-radius: 50%;
		aspect-ratio: 1;
	}
}

.d-breadcrumbs {
	display: flex;
	align-items: center;
	gap: 10px;

	background-color: #ededed;
	border-radius: 30px;

	padding: 8px;
	height: 40px;
	width: fit-content;

	&__item {
		display: flex;
		align-items: center;
		height: 18px;

		font-size: 14px;
		font-weight: 400;

		&:not(:last-child) {
			border-right: 0.5px solid #282828;
			padding-right: 10px;
		}

		&--active {
			font-weight: 700;
		}
	}
}

.d-switch {
	--switch-padding: 1px;
	--switch-border-width: 1px;
	--switch-border-radius: 50px;
	--switch-width: 40px;
	--switch-thumb-width: 18px;
	--switch-color: #f92c0d;
	--switch-disabled-color: #757575;

	cursor: pointer;

	display: grid;
	align-items: center;

	border: var(--switch-border-width) solid var(--switch-disabled-color);
	border-radius: var(--switch-border-radius);

	position: relative;
	transition: all 0.1s linear;

	padding: var(--switch-padding);
	width: var(--switch-width);
	height: 22px;

	&:has(.d-switch__input:checked) {
		border-color: var(--switch-color);

		.d-switch__circle {
			animation-name: switch-animation-in;

			background-color: var(--switch-color);
			left: calc(100% - var(--switch-thumb-width) - var(--switch-padding));
		}
	}

	&__input {
		@include visually-hidden;
	}

	&__circle {
		animation: switch-animation-out;
		animation-duration: 0.2s;
		animation-timing-function: ease-in-out;
		animation-fill-mode: forwards;

		justify-self: flex-start;

		background-color: var(--switch-disabled-color);
		border-radius: 50%;

		// position: absolute;
		// top: 50%;
		// left: calc(var(--switch-padding));
		// translate: 0 -50%;
		transition: all 0.1s linear;

		aspect-ratio: 1;
		width: var(--switch-thumb-width);
		height: var(--switch-thumb-width);
	}

	&__label {
		font-size: 16px;
		font-weight: 500;
	}

	@keyframes switch-animation-in {
		0% {
			border-radius: var(--switch-border-radius);
			width: var(--switch-thumb-width);
		}
		50% {
			border-radius: var(--switch-border-radius);
			width: 85%;
		}
		100% {
			justify-self: flex-end;
			border-radius: 50%;
			width: var(--switch-thumb-width);
		}
	}

	@keyframes switch-animation-out {
		0% {
			justify-self: flex-end;
			border-radius: 50%;
			width: var(--switch-thumb-width);
		}
		50% {
			border-radius: var(--switch-border-radius);
			width: 85%;
		}
		100% {
			justify-self: flex-start;
			border-radius: var(--switch-border-radius);
			width: var(--switch-thumb-width);
		}
	}
}

.d-switch-button {
	cursor: pointer;

	display: flex;
	align-items: center;
	gap: 8px;

	background-color: #f92c0d;
	border: 0.2px solid #757575;
	border-radius: 30px;
	box-shadow: 0px 4px 13.4px 0px #00000042;
	color: #fbfbfb;

	padding: 8px 16px;
	min-height: 40px;

	&__text {
		color: inherit;
		font-size: 16px;
		font-weight: 500;
	}

	.d-switch {
		border-color: #fbfbfb;

		&:has(.d-switch__input:checked) {
			border-color: unset;

			.d-switch__circle {
				background-color: #fbfbfb;
			}
		}

		&__circle {
			background-color: #fbfbfb;
		}
	}
}

.d-title {
	font-size: 24px;
	font-weight: 600;
}

.d-divider {
	--divider-length: 20px;
	--divider-width: 0.5px;
	--divider-color: #757575;
	--divider-margin: 8px;

	background-color: var(--divider-color);
	margin-block: var(--divider-margin);
	width: var(--divider-length);
	height: var(--divider-width);

	&--semibold {
		--divider-width: 1px;
	}

	&--bold {
		--divider-width: 2px;
	}

	&--black {
		--divider-color: #282828;
	}

	&--full {
		width: 100%;
	}

	&--big {
		--divider-margin: 16px;
	}

	&--vertical {
		margin-block: 0;
		margin-inline: var(--divider-margin);
		width: var(--divider-width);
		height: var(--divider-length);

		&.d-divider--full {
			height: auto;
		}
	}
}

.d-progress {
	--progress-height: 4px;
	--progress-color: #f92c0d;

	border-bottom: 0.4px solid var(--progress-color);
	position: relative;
	padding-inline: 48px;
	margin-bottom: 4px;
	min-height: 46px;

	&__label {
		display: inline-block;
		align-items: center;
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 4px;
	}

	&__value {
		display: inline-block;
		font-size: 36px;
		font-weight: 600;
		margin-left: 16px;
		translate: 0 4px;
	}

	&__line {
		background-color: var(--progress-color);
		position: absolute;
		top: 100%;
		left: 0;
		width: 60%;
		height: var(--progress-height);
	}
}

.d-badge {
	--badge-color: #282828;

	display: flex;
	align-items: center;
	gap: 8px;

	background-color: #ffffff8c;
	border: 1px solid var(--badge-color);
	border-radius: 24px;

	color: var(--badge-color);
	font-size: 16px;
	font-weight: 500;

	padding: 8px 12px;
	height: 38px;
	width: fit-content;

	&__container {
		display: flex;
		flex-wrap: wrap;
		column-gap: 8px;
		row-gap: 16px;
	}

	&__icon {
		color: inherit;
		font-size: 18px;
	}

	&__img {
		border-radius: 50%;
		aspect-ratio: 1;
		width: 24px;
		height: 24px;

		&-fallback {
			background-color: #d1d1d1;
			border-radius: 50%;
			aspect-ratio: 1;
			width: 24px;
			height: 24px;
		}
	}

	&--small {
		font-size: 12px;
		padding: 4px 12px;
		height: 24px;

		.d-badge__img {
			width: 16px;
			height: 16px;
		}
	}
}

.d-fractions {
	--fraction-color: #f92c0d;

	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
	width: 100%;

	&__item {
		display: flex;
		flex-direction: column;

		&-text {
			font-size: 14px;
			font-weight: 500;
			margin-bottom: 4px;
		}

		&-block {
			background-color: #ffffff;
			border: 1px solid var(--fraction-color);
			border-radius: 30px;
			position: relative;
			height: 11px;
		}

		&:first-child {
			.d-fractions__item-block::before {
				content: "";
				background-color: #757575;
				position: absolute;
				top: 50%;
				left: 100%;
				translate: 0 -50%;
				width: 100vw;
				height: 1px;
			}
		}

		&--center {
			align-items: center;
		}
	}
}

.d-category {
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: #fbfbfb;
	border-radius: 30px;
	box-shadow: 0px 4px 13.4px 0px #00000042;

	color: #282828;
	font-size: 16px;
	font-weight: 500;

	padding: 8px 16px;
	height: 40px;
	width: fit-content;

	&__container {
		display: flex;
		gap: 24px;
	}
}

.d-field-container {
	display: flex;
	gap: 8px;

	&--vertical {
		flex-direction: column;
	}

	&--long {
		gap: 16px;
	}
}

.d-field-wrapper {
	display: flex;
	align-items: center;
	gap: 16px;

	&--small {
		gap: 8px;
	}

	&--vertical {
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}
}

.d-icon-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: transparent;
	border-radius: 50%;
	transition-duration: 0.2s;
	padding: 4px;
	aspect-ratio: 1;

	&:hover {
		background-color: #fbfbfb;
		box-shadow: 0px 4px 13.4px 0px #00000042;
	}

	&--black {
		&:hover {
			background-color: #282828;
			color: #ededed;
		}
	}

	&--white {
		color: #fbfbfb;
	}

	&--big {
		font-size: 18px;
		width: 40px;
		height: 40px;

		&.d-icon-wrapper--plus {
			font-size: 14px;
		}
	}

	&--no-hover {
		&:hover {
			background-color: transparent;
			box-shadow: none;
		}
	}
}

.d-tab {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--tab-primary-color);
	border: var(--tab-border-width) solid var(--tab-secondary-color);
	border-bottom: 0;
	border-top-left-radius: var(--tab-border-radius);
	border-top-right-radius: var(--tab-border-radius);
	color: var(--tab-secondary-color);
	font-size: 16px;

	position: relative;
	transition: color linear 0.2s;

	padding: var(--tab-padding-block) var(--tab-padding-inline);
	width: max-content;
	height: 100%;

	&:not(:last-child) {
		margin-left: -12px;
	}

	&:not(:hover, .d-tab--active) {
		border-right-color: transparent;

		&::before {
			background-color: transparent;
			border-left: 1px solid var(--tab-secondary-color);
			border-bottom: 1px solid var(--tab-secondary-color);
			border-bottom-left-radius: 30px;

			position: absolute;
			bottom: -1px;
			left: 100%;

			width: 11px;
			height: 15px;
		}

		&::after {
			background-color: transparent;
			border-top: 1px solid var(--tab-secondary-color);
			border-right: 1px solid var(--tab-secondary-color);
			border-top-right-radius: 30px;

			bottom: -14px;
			translate: -100% -100%;

			clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 0);
			width: 27px;
			height: 25.3px;
		}
	}

	&::before,
	&::after {
		content: "";
		pointer-events: none;

		position: absolute;
		bottom: 0;
		left: calc(100% + var(--tab-border-width));
		// transition: background linear 0.2s;

		width: 16px;
		height: 9px;
	}

	&::before {
		background-color: var(--tab-secondary-color);
	}
	&::after {
		background-color: var(--tab-primary-color);
		border-bottom-left-radius: 30px;
		z-index: 1;
	}

	&__wrapper {
		--tab-primary-color: #fbfbfb;
		--tab-secondary-color: #282828;
		--tab-border-radius: 30px;
		--tab-padding-inline: 20px;
		--tab-padding-block: 8px;
		--tab-border-width: 1px;

		display: flex;
		border-bottom: 1px solid var(--tab-secondary-color);
		width: 100%;
		height: 40px;
	}

	&__container {
		display: flex;
		flex-direction: row-reverse;
	}

	&:hover,
	&--active {
		background-color: var(--tab-secondary-color);
		color: var(--tab-primary-color);

		& + & {
			&::before,
			&::after {
				background-color: var(--tab-secondary-color);
			}
		}
	}

	&--active {
		font-weight: 500;
		z-index: 1;
	}
}

.d-table {
	border-collapse: collapse;
	width: 100%;

	&__row {
		&:first-child > .d-table__col {
			padding-top: 8px;
		}

		&:not(:last-child, :first-child) {
			border-bottom: #757575 0.5px solid;
		}

		&:not(:first-child) {
			.d-table__head-col,
			.d-table__col {
				&:not(:first-child) {
					&::before {
						content: "";

						position: absolute;
						top: 50%;
						left: 0;
						translate: 0 -50%;

						width: 0.5px;
						height: 20px;
					}
				}
			}
		}
	}

	&__head-col,
	&__col {
		font-size: 14px;
		font-weight: 400;
		position: relative;

		&:first-child {
			padding-left: 24px;
		}
		&:last-child {
			padding-right: 24px;
		}
	}

	&__head-col {
		background: #282828;
		color: #fbfbfb;

		padding: 4px 8px;
		height: 48px;

		&:not(:first-child) {
			&::before {
				background: #ededed;
			}
		}

		&:first-child {
			border-top-left-radius: 30px;
			border-bottom-left-radius: 30px;
		}

		&:last-child {
			border-top-right-radius: 30px;
			border-bottom-right-radius: 30px;
		}

		&--big {
			height: 64px;
		}
	}

	&__col {
		vertical-align: middle;
		padding: 8px;

		&:not(:first-child) {
			&::before {
				background: #757575;
			}
		}

		&-inner {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&__text {
		font-size: 14px;
		color: #282828;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;

		&-left {
			display: flex;
			align-items: center;
		}

		&-right {
			display: flex;
			align-items: center;
			gap: 16px;
		}
	}

	&__mark {
		display: flex;
		justify-content: center;
		align-items: center;

		background-color: #ededed;
		border-radius: 30px;

		padding-inline: 12px;
		height: 40px;
	}
}

// .d-modal {
// 	pointer-events: none;

// 	display: flex;
// 	justify-content: center;
// 	align-items: center;

// 	background: rgba(255, 255, 255, 0);
// 	backdrop-filter: blur(0);

// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	transition: all 0.4s;
// 	opacity: 0;
// 	z-index: 1;

// 	width: 100%;
// 	height: 100%;

// 	&--active {
// 		pointer-events: all;
// 		background: rgba(255, 255, 255, 0.55);
// 		backdrop-filter: blur(11.4px);
// 		opacity: 1;
// 	}

// 	&__content {
// 		background: rgba(255, 255, 255, 0.55);
// 		box-shadow: 0px 4px 13.4px rgba(0, 0, 0, 0.26);
// 		border-radius: 12px;

// 		position: relative;
// 		left: 163px;
// 		overflow-y: auto;
// 		z-index: 2;

// 		padding: 32px;
// 		width: 764px;
// 		height: 100%;
// 		max-height: 567px;
// 	}

// 	&__header {
// 		display: flex;
// 		justify-content: space-between;
// 	}

// 	&__title {
// 		font-size: 20px;
// 		font-weight: 600;
// 		color: #282828;
// 		margin: 0;
// 	}

// 	&__text {
// 		font-size: 14px;
// 		color: #282828;
// 		margin-block: 8px 28px;
// 	}
// }

.d-radio {
	--radio-color: #757575;
	--radio-active-color: #f92c0d;
	--radio-width: 22px;
	--radio-padding: 2px;

	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;

	border: 1px solid var(--radio-color);
	border-radius: 50%;

	position: relative;
	transition-duration: 0.2s;

	padding: var(--radio-padding);
	width: var(--radio-width);
	height: var(--radio-width);

	&::before {
		content: "";

		background-color: transparent;
		border-radius: 50%;

		transition-duration: 0.2s;

		width: 100%;
		height: 100%;
	}

	&:has(.d-radio__input:checked) {
		border-color: var(--radio-active-color);

		&::before {
			background-color: var(--radio-active-color);
		}

		.d-radio__label {
			font-weight: 500;
		}
	}

	&__input {
		@include visually-hidden;
	}

	&__label {
		font-size: 16px;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	&__container {
		display: flex;
		align-items: center;
		gap: 32px;
	}

	&--white {
		--radio-color: #fff;
		--radio-active-color: #fff;
	}

	&--black {
		--radio-color: #282828;
		--radio-active-color: #282828;
	}
}

.d-counter {
	display: flex;
	align-items: center;

	background-color: transparent;
	border: 1px solid var(--d-counter-border-color);
	border-radius: 30px;

	overflow: hidden;

	height: 40px;
	max-width: 132px;

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;

		padding-inline: 10px;
		height: 100%;

		&-icon {
			color: var(--d-counter-button-color);
			font-size: 10px;
		}
	}

	&__input {
		font-size: 16px;
		font-weight: 500;
		text-align: center;
		padding-inline: 4px;
		width: 100%;
		height: 100%;
	}
}

.d-pagination {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #ededed;
	border-radius: 30px;

	padding: 4px 8px;
	height: 40px;
	width: fit-content;

	&__item {
		cursor: pointer;

		display: flex;
		justify-content: center;
		align-items: center;

		border-radius: 50%;
		transition-duration: 0.2s;

		aspect-ratio: 1;
		height: 100%;

		&:not(&--active):hover {
			background-color: #28282813;
		}

		&--active {
			background-color: #282828;
			color: #fbfbfb;
		}
	}
}

.d-select {
	display: flex;
	align-items: center;
	gap: 40px;

	background-color: #fff;
	border: 1px solid #282828;
	border-radius: 30px;

	padding: 8px 24px;
	height: 40px;
	width: fit-content;

	&__title {
		font-size: 16px;
	}

	&__arrow {
		font-size: 10px;
	}
}

.d-modal2 {
	@include scrollbar;

	display: flex;
	flex-direction: column;

	background-color: #FFFFFFD1;
	backdrop-filter: blur(22.8px);
	border-radius: 12px;
	box-shadow: 0px 4px 13.4px 0px #00000042;

	position: relative;
	overflow-y: auto;
	overflow-x: hidden;

	padding: 32px;
	width: var(--d-modal2-width);
	max-width: var(--d-modal2-width);
	max-height: var(--d-modal2-height);

	&__overlay {
		display: flex;
		justify-content: center;
		align-items: center;

		backdrop-filter: blur(22.8px);

		position: absolute;
		inset: 0;
		z-index: 40;
	}

	&__close {
		font-size: 11px;
		position: absolute;
		top: 32px;
		right: 32px;
	}

	&__header {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	&__title {
		font-size: 20px;
		font-weight: 600;
	}

	&__description {
		font-size: 14px;
	}

	&__content {
	}

	&__actions {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 24px;
	}

	&__action-button {
		padding: 8px 24px;
		min-height: 38px;
		height: 38px;
		min-width: 92px;
	}
}

.d-dropdown {
	// flex-grow: 1;

	// background-color: var(--d-dropdown-bg-color);
	// border: 0.2px solid #757575;
	// border-bottom: 2px solid #757575;
	// border-radius: 6px;

	// font-size: 14px;
	// font-weight: 500;
	// padding: 4px 16px;
	// height: 40px;

	// &::placeholder {
	// 	color: #757575;
	// }

	// &__wrapper {
	// 	display: flex;
	// 	justify-content: space-between;
	// 	align-items: center;
	// 	gap: 5px;
	// 	position: relative;
	// }

	&__label {
		color: #757575;
		font-size: 14px;
		font-weight: 500;
	}

	// &__button {
	// 	background-color: var(--d-dropdown-bg-color);

	// 	display: flex;
	// 	justify-content: center;
	// 	align-items: center;

	// 	position: absolute;
	// 	right: 16px;
	// 	top: 50%;
	// 	translate: 0 -50%;

	// 	width: 20px;
	// 	height: 20px;

	// 	&-icon {
	// 		font-size: 10px;
	// 		font-weight: 700;
	// 		translate: 0 -25%;
	// 	}
	// }
}

.d-note {
	background-color: #EDEDED;
	border-radius: 10px;
	font-size: 16px;
	padding: 16px 20px;
}

.d-between {
	display: flex;
	justify-content: space-between;
	gap: 5px;
	width: 100%;
}