.d-button {
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px; // 14px

	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 28px; // 30px
	box-shadow: 0px 32px 64px 0px #0000008f;

	color: #fbfbfb;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.2;

	transition-duration: 0.2s;

	padding: 8px 12px;

	width: 100%;
	min-height: 38px;
	max-width: 100%;

	@media (width <= 640px) {
		font-size: 14px;
		// height: 32px;
		min-height: 32px;
		padding-top: 4px;
		padding-bottom: 4px;
	}

	&:disabled[class] {
		cursor: default;
	}
}

.d-button-primary {
	background-color: #f92c0d;

	&:hover {
		background-color: #fbfbfb;
		color: #282828;
	}

	&:active {
		background-color: #f92c0d;
		color: #fbfbfb;
		font-weight: 700;
	}

	&:focus-visible {
		background-color: #fbfbfb;
		border-color: #f92c0d;
		color: #f92c0d;
	}

	&:disabled[class] {
		cursor: default;
		background-color: #757575;
		color: #282828;
		font-weight: 700;
	}
}

.d-button-secondary {
	background-color: #fbfbfb;
	color: #282828;

	&:hover {
		background-color: #f92c0d;
		color: #fbfbfb;
	}

	&:active {
		background-color: #fbfbfb;
		color: #282828;
		font-weight: 600;
	}

	&:focus-visible {
		background-color: #282828;
		border-color: #fbfbfb;
		color: #fbfbfb;
	}

	&:disabled[class] {
		cursor: default;
		background-color: #757575;
		color: #282828;
		font-weight: 700;
	}
}

.d-button-tertiary {
	background-color: #282828;
	color: #fbfbfb;

	&:hover {
		background-color: #fbfbfb;
		color: #282828;
	}

	&:active {
		background-color: #282828;
		color: #fbfbfb;
		font-weight: 600;
	}

	&:focus-visible {
		background-color: #fbfbfb;
		border-color: #282828;
		color: #282828;
	}

	&:disabled[class] {
		cursor: default;
		background-color: #757575;
		color: #282828;
		font-weight: 700;
	}
}

.d-button-link {
	box-shadow: none;
	background-color: transparent;
	border: 1px solid transparent;
	font-weight: 400;
	text-decoration: underline;

	&:hover {
		background-color: transparent;
		color: #f92c0d;
		font-weight: 400;
	}

	&:active {
		background-color: transparent;
		color: #fbfbfb;
		font-weight: 400;
	}

	&:focus-visible {
		background-color: transparent;
		border-color: #fbfbfb;
		color: #fbfbfb;
		font-weight: 400;
	}

	&:disabled[class] {
		background-color: transparent;
		color: #282828;
		font-weight: 400;
	}

	@media (width < 640px) {
		font-size: 14px;
	}
}

.d-close {
	cursor: pointer;

	background-color: transparent;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 4px;

	width: 16px;
	height: 16px;

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;

		&::before {
			color: #fbfbfb;
			font-size: 8px;
			transition-duration: 0.3s;
		}
	}

	&:hover {
		.d-close__icon::before {
			color: #f92c0d;
		}
	}

	&:active,
	&:focus-visible {
		.d-close__icon::before {
			color: #fbfbfb;
		}
	}

	&:disabled[class] {
		cursor: default;

		.d-close__icon::before {
			color: #282828;
		}
	}
}

.d-show {
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #fbfbfb;
	border: 1px solid transparent;
	border-radius: 3px;

	transition-duration: 0.3s;

	padding: 4px;

	width: 26px;
	height: 26px;

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;

		&::before {
			color: #282828;
			font-size: 12px;
			transition-duration: 0.3s;
			translate: 0 -25%;
		}
	}

	&:hover {
		background-color: #757575;

		.d-show__icon::before {
			color: #f92c0d;
		}
	}

	&:active {
		background-color: #fbfbfb;

		.d-show__icon::before {
			color: #282828;
		}
	}

	&:focus-visible {
		background-color: #282828;
		border-color: #fbfbfb;

		.d-show__icon::before {
			color: #fbfbfb;
		}
	}

	&:disabled[class] {
		cursor: default;
		background-color: #757575;

		.d-show__icon::before {
			color: #282828;
		}
	}
}

.d-show-alt {
	@extend .d-show;

	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 4px;

	padding: 8px;

	width: 32px;
	height: 32px;

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;

		&::before {
			color: #ededed;
			font-size: 12px;
			transition-duration: 0.3s;
			translate: 0 -25%;
		}
	}

	&:hover {
		background-color: transparent;

		.d-show-alt__icon::before {
			color: #f92c0d;
		}
	}

	&:active {
		background-color: transparent;

		.d-show-alt__icon::before {
			color: #ededed;
		}
	}

	&:focus-visible {
		background-color: transparent;
		border-color: #fbfbfb;

		.d-show-alt__icon::before {
			color: #fbfbfb;
		}
	}

	&:disabled[class] {
		background-color: transparent;

		.d-show-alt__icon::before {
			color: #282828;
		}
	}
}

.d-input {
	display: flex;
	align-items: center;

	background-color: #282828;
	border: 1px solid #757575;
	border-bottom-width: 2px;
	border-radius: 4px;
	box-shadow: 0px 32px 64px 0px #0000008f;

	color: #ededed;

	font-size: 14px;
	font-weight: 400;

	position: relative;

	width: 368px;
	height: 40px;
	max-width: 100%;

	&__field {
		background-color: transparent;
		color: inherit;

		padding: 4px 12px;

		width: 100%;
		height: 100%;

		&::placeholder {
			color: #757575;
		}
	}

	&__button {
		display: none;

		background-color: inherit;

		position: absolute;
		right: 10px;
		top: 50%;
		translate: 0 -50%;

		max-height: 100%;
		padding: 2px 0;

		width: 32px;
		height: 32px;

		@media (width <= 640px) {
			width: 27px;
			height: 27px;
		}
	}

	&__show {
		padding: 0;
		width: 26px;
		height: 26px;

		@media (width <= 640px) {
			padding: 4px;
			width: 22px;
			height: 22px;
		}
	}

	&__group {
		display: flex;
		flex-direction: column;
		gap: 8px;

		@media (width <= 640px) {
			gap: 12px;
		}
	}

	&__label {
		display: inline-block;
		color: #e2e2e2;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.2;
		margin-bottom: 4px;
		position: relative;
		z-index: 1;
	}

	&__suggestions[class] {
		@include scrollbar;

		display: flex;
		flex-direction: column;
		gap: 2px;

		background-color: #202020;
		border: 1px solid #75757566;
		border-radius: 4px;
		box-shadow: 0px 0px 2px 0px #0000001f, 0px 8px 16px 0px #00000024;

		position: absolute;
		top: calc(100% + 2px);
		left: 50%;
		translate: -50% 0;
		z-index: 10;
		overflow-y: auto;

		padding: 4px;
		width: calc(100% + 4px);
		max-height: 142px;

		&:not(:has(.d-input__suggestion)) {
			border: none;
			padding: 0;
		}
	}
	&__suggestion {
		cursor: pointer;

		display: flex;
		align-items: center;

		color: #757575;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.3;

		position: relative;
		transition-duration: 0.3s;

		flex: 0 0 auto;
		padding: 4px;
		height: 32px;
		width: 100%;

		&--none {
			cursor: default;
		}

		&--disable {
			cursor: default;
			color: #282828;
		}

		&::before,
		&::after {
			opacity: 0;
			visibility: hidden;
			transition-duration: 0.2s;
		}

		&::before {
			content: "";

			background-color: #fbfbfb;
			border: 1px solid #0000000a;
			border-radius: 3px;

			position: absolute;
			top: 50%;
			left: 50%;
			translate: -50% -50%;
			z-index: -1;

			width: calc(100% - 8px);
			height: calc(100% - 8px);
		}

		&::after {
			content: "";

			background-color: #f92c0d;
			border-radius: 999px;

			position: absolute;
			top: 50%;
			left: 4px;
			translate: -50% -50%;

			width: 3px;
			height: 16px;
		}

		&:not(.d-input__suggestion--none, .d-input__suggestion--disable):hover {
			color: #282828;
			padding-left: 12px;
			padding-right: 12px;

			&::before,
			&::after {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	.d-show-alt {
		background-color: inherit;
	}

	.d-show__wrapper {
		right: 12px;
		width: auto;
		height: auto;
		padding-left: 6px;
	}

	&:focus-within {
		border-color: #fbfbfb;
	}

	&:has(.d-input__field:not(:placeholder-shown)) {
		border-color: #fbfbfb;
	}

	&:has(.d-input__field:disabled) {
		background-color: #757575;
		border-color: transparent;
		color: #282828;

		.d-input__button {
			visibility: hidden;
		}
	}

	&--error {
		border-color: #f92c0d;
		color: #f92c0d;
	}

	@media (width <= 800px) {
		width: 376px;
	}
	@media (width <= 640px) {
		height: 32px;
	}
	@media (width <= 400px) {
		width: 320px;
	}
	@media (width <= 320px) {
		width: 248px;
	}
}

.d-button-rounded {
	// cursor: pointer;
	// display: flex;
	// justify-content: center;
	// align-items: center;

	border-radius: 50%;

	padding: 8px;
	width: 40px;
	height: 40px;

	&__icon::before {
		color: #fbfbfb;
		font-size: 24px;
		transition-duration: 0.3s;
	}

	&:hover {
		.d-button-rounded__icon::before {
			color: #282828;
		}
	}

	&:active {
		.d-button-rounded__icon::before {
			color: #fbfbfb;
		}
	}

	&:focus-visible {
		background-color: #f92c0d;
		border-color: #fbfbfb;
	}

	&:disabled[class] {
		.d-button-rounded__icon::before {
			color: #282828;
		}
	}
}

.d-button-primary-small {
	font-size: 14px;

	padding-left: 24px;
	padding-right: 24px;

	width: fit-content;
	min-height: 32px;
	// min-width: 88px;

	&:hover {
		color: #f92c0d;
	}

	&:active {
		background-color: #f92c0d;
		color: #fbfbfb;
		font-weight: 600;
	}

	&:disabled {
		color: #282828;
	}

	@media (width <= 640px) {
		padding: 2px 16px;
		min-height: 26px;
		// min-width: 76px;
	}
}

.d-button-secondary-small {
	font-size: 14px;
	border-color: #282828;

	padding-left: 24px;
	padding-right: 24px;

	width: fit-content;
	min-height: 32px;

	&:hover {
		background-color: #fbfbfb;
		border-color: #f92c0d;
		color: #f92c0d;
	}

	&:active {
		background-color: #fbfbfb;
		border-color: #282828;
		color: #242424;
	}

	&:disabled {
		background-color: #757575;
		border-color: transparent;
		color: #242424;
	}

	@media (width <= 640px) {
		padding: 2px 16px;
		min-height: 26px;
	}
}

.d-button-tertiary-small {
	font-size: 14px;
	// border-color: #282828;

	padding-left: 24px;
	padding-right: 24px;

	width: fit-content;
	min-height: 32px;

	&:hover {
		// background-color: #fbfbfb;
		border-color: #282828;
		// color: #f92c0d;
	}

	// &:active {
	// 	background-color: #fbfbfb;
	// 	border-color: #282828;
	// 	color: #242424;
	// }

	// &:disabled {
	// 	background-color: #757575;
	// 	border-color: transparent;
	// 	color: #242424;
	// }

	@media (width <= 640px) {
		padding: 2px 16px;
		min-height: 26px;
	}
}

.d-notion {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;

	background-color: #2828284d;
	backdrop-filter: blur(60px);
	box-shadow: 0px 32px 64px 0px #0000008f;
	border: 1px solid #e2e2e2;
	border-radius: 6px;

	position: fixed;
	top: 1%;
	left: 50%;
	translate: -50% -1%;
	overflow: hidden;

	padding: 12px 16px;

	max-width: 1520px;
	width: 80%;
	min-height: 48px;

	&__left {
		display: flex;
		align-items: flex-start;
		gap: 12px;
	}

	&__middle {
		display: flex;
		flex-direction: column;
		gap: 6px;

		@media (width <= 400px) {
			gap: 8px;
		}
		@media (width <= 320px) {
			gap: 6px;
		}
	}

	&__category {
		display: flex;
		align-items: center;
		gap: 12px;
	}

	&__icon::before {
		color: #f92c0d;
		font-size: 16px;
	}

	&__category-name,
	&__title {
		font-size: 16px;
		font-weight: 400;
		line-height: 1.2;

		@media (width <= 800px) {
			font-size: 14px;
		}
		@media (width <= 640px) {
			font-size: 12px;
		}
	}

	&__category-name {
		color: #f92c0d;

		@media (width <= 640px) {
			font-weight: 500;
		}
		@media (width <= 640px) {
			font-weight: 700;
		}
		@media (width <= 400px) {
			font-weight: 500;
		}
	}

	&__title {
		color: #fbfbfb;
		text-overflow: ellipsis;
	}

	&__right {
		display: flex;
		gap: 20px;
		align-items: center;

		@media (width <= 640px) {
			align-items: flex-start;
		}
	}

	&__button {
		padding-left: 20px;
		padding-right: 20px;
		height: 30px;
	}

	&:has(.d-notion__button:focus-visible) {
		border-color: #f92c0d;
	}

	&--disabled {
		.d-notion__category-name,
		.d-notion__title {
			color: #282828;
		}

		.d-error {
			background-color: #282828;
		}

		.d-notion__button {
			background-color: #282828;
			color: #fbfbfb;
		}
	}

	@media (width <= 640px) {
		top: 5%;
		align-items: flex-start;
		gap: 12px;
		width: 60%;
	}
	@media (width <= 400px) {
		width: 80%;
		top: 3%;
	}
}

.d-window-button {
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #ffffffc9;
	border: 1px solid transparent;
	border-radius: 3px;

	padding: 4px;

	transition-duration: 0.3s;

	width: 26px;
	height: 26px;

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;

		&::before {
			color: #282828;
			font-size: 12px;
		}
	}

	@media (width <= 800px) {
		width: 22px;
		height: 22px;
	}
}

.d-location {
	cursor: pointer;

	background-color: transparent;

	display: flex;
	justify-content: center;
	align-items: center;

	transition-duration: 0.3s;

	padding: 4px;
	width: 32px;
	height: 32px;

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;

		&::before {
			color: #282828;
			font-size: 20px;
		}
	}

	@media (width <= 800px) {
		width: 30px;
		height: 30px;

		.d-location__icon::before {
			font-size: 16px;
		}
	}
}

.d-back {
	cursor: pointer;

	background-color: transparent;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 25px;

	padding-left: 16px;
	padding-right: 12px;
	height: 48px;

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;

		&::before {
			font-size: 16px;
			color: #fbfbfb;
		}
	}

	&__text {
		color: #fbfbfb;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.2;
	}

	@media (width <= 800px) {
		height: 40px;
	}
}

.d-error {
	background-color: #f92c0d;
	border-radius: 50%;

	position: relative;

	aspect-ratio: 1;
	padding: 2px;
	width: 16px;
	height: 16px;

	&::before,
	&::after {
		content: "";

		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;

		background-color: #ffffff;
		border-radius: 1px;

		width: 1.2px;
		height: 10.75px;
	}

	&::before {
		rotate: 45deg;
	}
	&::after {
		rotate: -45deg;
	}
}

.d-input-error {
	display: flex;
	gap: 4px;
	margin-top: 2px;

	position: relative;
	z-index: 1;

	width: 368px;
	max-width: 100%;

	&__icon {
		display: flex;
		justify-content: center;
		margin-top: 2px;

		&::before {
			color: #f92c0d;
			font-size: 10px;
		}
	}

	&__text {
		color: #f92c0d;
		font-size: 12px;
		font-weight: 300;
		line-height: 1.2;
	}

	@media (width <= 800px) {
		width: 376px;
	}
	@media (width <= 400px) {
		width: 320px;
	}
	@media (width <= 320px) {
		width: 248px;
	}
}

.d-modal {
	background-color: #ffffff;
	border-radius: 8px;
	position: relative;
	padding: 20px 24px 16px 24px;
	width: 850px;

	&--active {
		.modal__wrapper {
			visibility: visible;
		}
	}

	&__title {
		color: #282828;
		font-size: 24px;
		font-weight: 600;
		line-height: 1.3;

		@media (width <= 800px) {
			font-size: 20px;
		}
		@media (width <= 640px) {
			font-size: 14px;
		}
	}

	&__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;

		background-color: #00000080;

		position: fixed;
		inset: 0;
		// visibility: hidden;

		z-index: 100;
	}

	&__close {
		cursor: pointer;

		display: flex;
		justify-content: center;
		align-items: center;

		background: none;
		width: 24px;
		height: 24px;

		position: absolute;
		top: 24px;
		right: 24px;

		@media (width <= 800px) {
			top: 16px;
		}
		@media (width <= 640px) {
			top: 12px;
			right: 20px;

			width: 20px;
			height: 20px;
		}
		@media (width <= 320px) {
			right: 18px;
		}
	}

	&__icon {
		font-size: 12px;
	}

	@media (width <= 800px) {
		padding: 12px 24px 24px 24px;
		max-width: 75%;
	}
	@media (width <= 640px) {
		padding-bottom: 28px;
		max-width: 60%;
	}
	@media (width <= 400px) {
		max-width: 95%;
	}
	@media (width <= 320xp) {
		max-width: 100%;
	}
}

.d-search {
	display: flex;
	align-items: center;

	background-color: #ffffff;
	border: 1px solid #d1d1d1;
	border-radius: 30px;

	position: relative;

	width: 100%;

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		color: #757575;
		font-size: 13px;
		margin-left: 4px;
		margin-right: 8px;
		width: 30px;
		height: 30px;

		@media (width <= 800px) {
			margin-left: 8px;
		}
	}

	&__field {
		color: #282828;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.3;

		flex: 1 0 0;
		margin-right: 20px;
		width: 100%;

		&::placeholder {
			color: #757575;
		}

		@media (width <= 320px) {
			font-size: 12px;
		}
	}

	&__suggestions[class] {
		@include scrollbar;

		box-shadow: 0px 0px 2px 0px #0000001f, 0px 8px 16px 0px #00000024;
		background-color: #ffffff;
		border-radius: 4px;

		display: flex;
		flex-direction: column;
		gap: 4px;

		position: absolute;
		top: calc(100% + 1px);
		left: 0;

		overflow-y: auto;

		width: 100%;
		max-height: 176px;

		&:has(.d-search__suggestion) {
			padding: 4px;
		}
	}

	&__suggestion {
		cursor: pointer;

		border-radius: 2px;

		color: #282828;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.3;

		position: relative;
		transition-duration: 0.2s;

		flex: 1 0 auto;
		padding: 4px 8px;
		min-height: 30px;
		width: 100%;

		&::before {
			content: "";

			background-color: #f92c0d;
			border-radius: 999px;

			position: absolute;
			top: 50%;
			left: 0;
			translate: 0 -50%;
			opacity: 0;
			visibility: hidden;
			transition-duration: 0.2s;

			width: 3px;
			height: 16px;
		}

		&:hover {
			background-color: #ededed;
			font-weight: 600;

			&::before {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}

.d-indicator {
	box-shadow: 0 0 4px #f92c0d, 0 0 7px #f92c0d;
	width: 8px;
	height: 8px;
	background-color: #f92c0d;
	border-radius: 50%;
	filter: blur(2px);
	border: 2px solid #f92c0d;
}

.skeleton {
	background: linear-gradient(90deg, #e9e9e9 0%, #fafafa 50%, #e9e9e9 100%);
	border-radius: 5px;
	height: 200px;

	&--big {
		height: 260px;
	}

	&--rounded {
		border-radius: 50%;
		aspect-ratio: 1;
	}
}
