.lk-about {
    padding-block: 20px 80px;

    &__tabs {
        margin-bottom: 40px;
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 52px;
        border-bottom: 0.5px solid #757575;
        padding-bottom: 24px;

        &-container {
            display: flex;
            flex-direction: column;
            gap: 24px;
            margin-bottom: 24px;
        }

        &-title {
            font-size: 16px;
            font-weight: 600;

            &-wrapper {
                display: flex;
                flex-direction: column;
                gap: 8px;
                flex-shrink: 0;
                width: 348px;
            }

            &-description {
                color: #757575;
                font-size: 14px;
                font-weight: 400;
            }
        }

        &-input {
            font-size: 16px;
            font-weight: 400;
            flex-grow: 1;

            &-actions {
                &-divider {
                    --d-divider-length: 20px;
                }
            }

            &-button {
                font-size: 20px;
            }
        }

        &-button {
            display: flex;
            gap: 8px;
            font-size: 16px;
            font-weight: 600;
            padding: 8px;
            flex-shrink: 0;
            width: fit-content;

            &-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                width: 24px;
                height: 24px;
            }
        }

        &-image {
            object-fit: contain;
            width: 100%;
            height: 100%;

            &-container {
                max-width: 100%;
                max-height: 100%;
            }
        }

        &-text {
            font-size: 16px;
            font-weight: 400;

            &-wrapper {
                display: flex;
                align-items: center;
            }
        }
    }

    &__block {
        display: flex;
        flex-direction: column;

        background-color: #ffffff;
        border-radius: 12px;
        box-shadow: 0px 4px 13.4px -5px #00000042;

        padding: 24px;

        &--requisites {
            margin-bottom: 24px;
        }

        &-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            margin-bottom: 40px;

            &-title {
                font-size: 16px;
                font-weight: 600;

                &-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    width: 400px;
                }

                &-description {
                    color: #757575;
                    font-size: 14px;
                }
            }

            &-button {
                font-size: 16px;
                font-weight: 600;
                padding: 8px 28px;
                height: 40px;

                &--hide {
                    padding: 8px 12px;
                }

                &-icon {
                    font-size: 14px;
                }
            }
        }

        &-subtitle {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 32px;
        }

        &-table {
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-bottom: 24px;

            &--bank {
                margin-bottom: 0;

                .lk-about__block-table-row {
                    &:last-child {
                        padding-bottom: 0;
                        border-bottom: none;
                    }
                }
            }

            &-row {
                display: flex;
                justify-content: space-between;
                gap: 16px;
                border-bottom: 0.5px solid #757575;
                padding-bottom: 16px;
                flex-grow: 1;
            }

            &-col {
                display: flex;
                flex-direction: column;
                gap: 16px;
                width: 50%;
            }

            &-label {
                color: #757575;
                font-size: 14px;
            }

            &-value {
                font-size: 16px;
            }
        }

        &-radio {
            --d-radio-width: 18px;

            &-label {
                color: #282828;
                font-size: 14px;
                font-weight: 500;
            }
        }
    }

    &__modal {
        width: 1000px;
        height: 800px;

        &-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            gap: 20px;
            margin-bottom: 24px;

            &-title {
                font-size: 20px;
                font-weight: 600;
            }

            &-actions {
                display: flex;
                align-items: center;
                gap: 16px;

                &-button {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    font-size: 16px;
                    font-weight: 600;
                    padding: 8px 12px;
                    height: 40px;

                    &-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 14px;
                        width: 24px;
                        height: 24px;
                    }
                }

                &-divider {
                    --d-divider-length: 20px;
                    --d-divider-margin: 0;
                }

                &-close {
                    font-size: 10px;
                    position: static;
                    width: 16px;
                    height: 16px;
                }
            }
        }

        &-content {
            &-inner {
                display: flex;
                flex-direction: column;
            }
        }

        &-requisites {
            display: flex;
            flex-direction: column;
            gap: 32px;
            margin-bottom: 56px;
        }

        &-input {
            &-container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 24px 44px;
            }

            &-wrapper {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }

            &-label {
                font-weight: 400;
            }
        }

        &-bank {
            margin-bottom: 40px;

            &-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                margin-bottom: 40px;

                &-title {
                    font-size: 16px;
                    font-weight: 600;
                }

                &-actions {
                    display: flex;
                    align-items: center;
                    gap: 16px;

                    &-divider {
                        --d-divider-length: 20px;
                        --d-divider-margin: 0;
                    }

                    &-delete {
                        font-size: 24px;
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }

        &-actions {
            position: sticky;

            &-button {
                font-size: 16px;
                font-weight: 600;
                padding: 8px 40px;
                height: 40px;
            }
        }
    }

    @media (width <=1920px) {
        padding-block: 24px;

        &__info {
            padding-bottom: 16px;

            &-container {
                margin-bottom: 40px;
            }

            &-title {
                &-wrapper {
                    width: 256px;
                }
            }

            &-input {
                --d-input-padding: 8px 24px;

                height: 38px;

                &-button {
                    font-size: 18px;
                }
            }

            &-button {
                height: 38px;
            }
        }

        &__block {
            &-header {
                margin-bottom: 32px;

                &-button {
                    height: 38px;
                }
            }

            &-subtitle {
                margin-bottom: 40px;
            }

            &-table {
                &:not(&--bank) {
                    margin-bottom: 16px;
                }

                &-col {
                    gap: 8px;
                }
            }
        }
    }

    @media (width <=1536px) {
        padding-block: 32px;

        &__info {
            &-container {
                gap: 16px;
            }

            &-title {
                font-size: 14px;

                &-wrapper {
                    width: 220px;
                }

                &-description {
                    font-size: 12px;
                }
            }

            &-text {
                font-size: 12px;
            }

            &-input {
                --d-input-padding: 8px 24px;
                font-size: 12px;
            }

            &-button {
                font-size: 14px;
                padding: 4px 8px;
                height: 32px;
                min-height: 32px;
            }
        }

        &__block {
            &--requisites {
                margin-bottom: 40px;
            }

            &--bank {
                .lk-about__block-header {
                    margin-bottom: 40px;
                }
            }

            &-header {
                &-title {
                    font-size: 14px;

                    &-wrapper {
                        width: 348px;
                    }

                    &-description {
                        font-size: 12px;
                    }
                }

                &-button {
                    font-size: 14px;
                    height: 34px;
                    min-height: 34px;
                }
            }

            &-subtitle {
                font-size: 14px;
                margin-bottom: 32px;
            }
        }
    }

    @media (width <=1280px) {
        &__tabs {
            margin-bottom: 32px;
        }

        &__info {
            gap: 20px;
            padding-bottom: 8px;

            &-container {
                gap: 8px;
                margin-bottom: 16px;
            }

            &-title {
                font-size: 10px;

                &-wrapper {
                    gap: 4px;
                    width: 150px;
                }

                &-description {
                    font-size: 9px;
                }
            }

            &-input {
                --d-input-padding: 4px 16px;
                border-radius: 4px;
                font-size: 9px;
                font-weight: 500;
                height: 24px;

                &-button {
                    font-size: 13px;
                    width: 16px;
                    height: 16px;
                }

                &-actions {
                    &-divider {
                        --d-divider-length: 16px;
                    }
                }
            }

            &-image {
                height: 30px;
            }

            &-text {
                font-size: 9px;
                font-weight: 500;
            }

            &-button {
                gap: 4px;
                font-size: 10px;
                font-weight: 400;
                padding: 4px 8px;
                height: 24px;
                min-height: 24px;

                &-icon {
                    font-size: 10px;
                    width: 16px;
                    height: 16px;
                }
            }
        }

        &__block {
            border-radius: 8px;
            padding: 16px;

            &--requisites {
                margin-bottom: 24px;
            }

            &--bank .lk-about__block-header {
                margin-bottom: 24px;
            }

            &-header {
                margin-bottom: 16px;

                &-title {
                    font-size: 10px;

                    &-wrapper {
                        width: 250px;
                    }

                    &-description {
                        font-size: 9px;
                    }
                }

                &-button {
                    font-size: 10px;
                    font-weight: 600;
                    padding: 4px 16px;
                    height: 24px;
                    min-height: 24px;

                    &--hide {
                        gap: 4px;
                        font-size: 10px;
                        font-weight: 400;
                        padding: 4px 8px;
                    }

                    &-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 10px;
                        width: 16px;
                        height: 16px;
                    }
                }
            }

            &-subtitle {
                font-size: 10px;
                margin-bottom: 24px;
            }

            &-table {
                gap: 8px;

                &:not(.lk-about__block-table--bank) {
                    margin-bottom: 8px;
                }

                &-row {
                    padding-bottom: 8px;
                }

                &-label {
                    font-size: 9px;
                }

                &-value {
                    font-size: 9px;
                    font-weight: 500;
                }
            }

            &-radio {
                --d-radio-width: 16px;

                &-wrapper {
                    gap: 8px;
                }

                &-label {
                    font-size: 9px;
                    font-weight: 500;
                }
            }
        }
    }

    @media (width <=800px) {
        &__tabs {
            margin-bottom: 24px;
        }

        &__info {
            &--primary {
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                .lk-about__info-button {
                    justify-self: flex-end;
                }

                .lk-about__info-input {
                    order: 2;
                    grid-column: 1/3;
                    width: 100%;
                }
            }

            &-input {
                --d-input-padding: 4px 8px;
                font-size: 8px;
                font-weight: 500;
                height: 18px;

                &-button {
                    font-size: 10px;
                    width: 14px;
                    height: 14px;
                }

                &-actions {
                    &-divider {
                        --d-divider-length: 8px;
                    }
                }
            }
        }
    }
}