.block {
    background-color: #919191;
    border: 2px solid red;
    border-radius: 12px;
    padding: 15px;
    height: 150px;
}

body {  
    background-color: rgb(160, 160, 160);
    min-height: 100dvh;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    padding: 25px;
}

.test-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #fbfbfb;
    border-radius: 8px;
    padding: 24px;
    width: 100%;
}